body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:2505px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u79_div {
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:1334px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u79 {
  position:absolute;
  left:69px;
  top:46px;
  width:750px;
  height:1334px;
}
#u80 {
  position:absolute;
  left:2px;
  top:659px;
  width:746px;
  visibility:hidden;
  word-wrap:break-word;
}
#u81_img {
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:40px;
}
#u81 {
  position:absolute;
  left:69px;
  top:46px;
  width:750px;
  height:40px;
}
#u82 {
  position:absolute;
  left:2px;
  top:12px;
  width:746px;
  visibility:hidden;
  word-wrap:break-word;
}
#u83_img {
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:88px;
}
#u83 {
  position:absolute;
  left:69px;
  top:86px;
  width:750px;
  height:88px;
}
#u84 {
  position:absolute;
  left:2px;
  top:36px;
  width:746px;
  visibility:hidden;
  word-wrap:break-word;
}
#u85_img {
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:38px;
}
#u85 {
  position:absolute;
  left:388px;
  top:47px;
  width:112px;
  height:38px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u86 {
  position:absolute;
  left:2px;
  top:7px;
  width:108px;
  word-wrap:break-word;
}
#u87_img {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:28px;
}
#u87 {
  position:absolute;
  left:736px;
  top:52px;
  width:71px;
  height:28px;
}
#u88 {
  position:absolute;
  left:2px;
  top:6px;
  width:67px;
  visibility:hidden;
  word-wrap:break-word;
}
#u89_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:28px;
}
#u89 {
  position:absolute;
  left:81px;
  top:52px;
  width:28px;
  height:28px;
}
#u90 {
  position:absolute;
  left:2px;
  top:6px;
  width:24px;
  visibility:hidden;
  word-wrap:break-word;
}
#u91_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:28px;
}
#u91 {
  position:absolute;
  left:109px;
  top:52px;
  width:28px;
  height:28px;
}
#u92 {
  position:absolute;
  left:2px;
  top:6px;
  width:24px;
  visibility:hidden;
  word-wrap:break-word;
}
#u93_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:28px;
}
#u93 {
  position:absolute;
  left:137px;
  top:52px;
  width:28px;
  height:28px;
}
#u94 {
  position:absolute;
  left:2px;
  top:6px;
  width:24px;
  visibility:hidden;
  word-wrap:break-word;
}
#u95_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:28px;
}
#u95 {
  position:absolute;
  left:165px;
  top:52px;
  width:28px;
  height:28px;
}
#u96 {
  position:absolute;
  left:2px;
  top:6px;
  width:24px;
  visibility:hidden;
  word-wrap:break-word;
}
#u97_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:28px;
}
#u97 {
  position:absolute;
  left:193px;
  top:52px;
  width:28px;
  height:28px;
}
#u98 {
  position:absolute;
  left:2px;
  top:6px;
  width:24px;
  visibility:hidden;
  word-wrap:break-word;
}
#u99_img {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:50px;
}
#u99 {
  position:absolute;
  left:379px;
  top:106px;
  width:130px;
  height:50px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:34px;
}
#u100 {
  position:absolute;
  left:2px;
  top:5px;
  width:126px;
  word-wrap:break-word;
}
#u101_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u101 {
  position:absolute;
  left:757px;
  top:105px;
  width:50px;
  height:50px;
  -webkit-transform:rotate(270deg);
  -moz-transform:rotate(270deg);
  -ms-transform:rotate(270deg);
  transform:rotate(270deg);
}
#u102 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u103_div {
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:1214px;
  background:inherit;
  background-color:rgba(228, 228, 228, 0.27843137254902);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u103 {
  position:absolute;
  left:69px;
  top:166px;
  width:750px;
  height:1214px;
}
#u104 {
  position:absolute;
  left:2px;
  top:599px;
  width:746px;
  visibility:hidden;
  word-wrap:break-word;
}
#u105_div {
  position:absolute;
  left:0px;
  top:0px;
  width:726px;
  height:957px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u105 {
  position:absolute;
  left:81px;
  top:184px;
  width:726px;
  height:957px;
}
#u106 {
  position:absolute;
  left:2px;
  top:470px;
  width:722px;
  visibility:hidden;
  word-wrap:break-word;
}
#u107_img {
  position:absolute;
  left:0px;
  top:0px;
  width:726px;
  height:852px;
}
#u107 {
  position:absolute;
  left:81px;
  top:184px;
  width:726px;
  height:852px;
}
#u108 {
  position:absolute;
  left:2px;
  top:418px;
  width:722px;
  visibility:hidden;
  word-wrap:break-word;
}
#u109_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u109 {
  position:absolute;
  left:81px;
  top:106px;
  width:50px;
  height:50px;
}
#u110 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u111_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:56px;
}
#u111 {
  position:absolute;
  left:369px;
  top:1057px;
  width:150px;
  height:56px;
  font-size:15px;
}
#u112 {
  position:absolute;
  left:2px;
  top:20px;
  width:146px;
  word-wrap:break-word;
}
#u113_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u113 {
  position:absolute;
  left:379px;
  top:1194px;
  width:30px;
  height:30px;
}
#u114 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u115_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u115 {
  position:absolute;
  left:429px;
  top:1194px;
  width:30px;
  height:30px;
}
#u116 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u117_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u117 {
  position:absolute;
  left:479px;
  top:1194px;
  width:30px;
  height:30px;
}
#u118 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u119_div {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:60px;
  background:-webkit-linear-gradient(330deg, rgba(0, 187, 161, 1) 0%, rgba(0, 187, 161, 1) 0%, rgba(0, 187, 161, 1) 53%, rgba(0, 187, 161, 1) 100%, rgba(0, 187, 161, 1) 100%);
  background:-moz-linear-gradient(120deg, rgba(0, 187, 161, 1) 0%, rgba(0, 187, 161, 1) 0%, rgba(0, 187, 161, 1) 53%, rgba(0, 187, 161, 1) 100%, rgba(0, 187, 161, 1) 100%);
  background:linear-gradient(120deg, rgba(0, 187, 161, 1) 0%, rgba(0, 187, 161, 1) 0%, rgba(0, 187, 161, 1) 53%, rgba(0, 187, 161, 1) 100%, rgba(0, 187, 161, 1) 100%);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:34px;
}
#u119 {
  position:absolute;
  left:339px;
  top:1280px;
  width:210px;
  height:60px;
  font-size:34px;
}
#u120 {
  position:absolute;
  left:2px;
  top:10px;
  width:206px;
  word-wrap:break-word;
}
#u121_div {
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:1334px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u121 {
  position:absolute;
  left:873px;
  top:46px;
  width:750px;
  height:1334px;
}
#u122 {
  position:absolute;
  left:2px;
  top:659px;
  width:746px;
  visibility:hidden;
  word-wrap:break-word;
}
#u123_img {
  position:absolute;
  left:0px;
  top:0px;
  width:751px;
  height:41px;
}
#u123 {
  position:absolute;
  left:873px;
  top:46px;
  width:750px;
  height:40px;
}
#u124 {
  position:absolute;
  left:2px;
  top:12px;
  width:746px;
  visibility:hidden;
  word-wrap:break-word;
}
#u125_img {
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:88px;
}
#u125 {
  position:absolute;
  left:873px;
  top:86px;
  width:750px;
  height:88px;
}
#u126 {
  position:absolute;
  left:2px;
  top:36px;
  width:746px;
  visibility:hidden;
  word-wrap:break-word;
}
#u127_img {
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:38px;
}
#u127 {
  position:absolute;
  left:1192px;
  top:47px;
  width:112px;
  height:38px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u128 {
  position:absolute;
  left:2px;
  top:7px;
  width:108px;
  word-wrap:break-word;
}
#u129_img {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:28px;
}
#u129 {
  position:absolute;
  left:1540px;
  top:52px;
  width:71px;
  height:28px;
}
#u130 {
  position:absolute;
  left:2px;
  top:6px;
  width:67px;
  visibility:hidden;
  word-wrap:break-word;
}
#u131_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:28px;
}
#u131 {
  position:absolute;
  left:885px;
  top:52px;
  width:28px;
  height:28px;
}
#u132 {
  position:absolute;
  left:2px;
  top:6px;
  width:24px;
  visibility:hidden;
  word-wrap:break-word;
}
#u133_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:28px;
}
#u133 {
  position:absolute;
  left:913px;
  top:52px;
  width:28px;
  height:28px;
}
#u134 {
  position:absolute;
  left:2px;
  top:6px;
  width:24px;
  visibility:hidden;
  word-wrap:break-word;
}
#u135_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:28px;
}
#u135 {
  position:absolute;
  left:941px;
  top:52px;
  width:28px;
  height:28px;
}
#u136 {
  position:absolute;
  left:2px;
  top:6px;
  width:24px;
  visibility:hidden;
  word-wrap:break-word;
}
#u137_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:28px;
}
#u137 {
  position:absolute;
  left:969px;
  top:52px;
  width:28px;
  height:28px;
}
#u138 {
  position:absolute;
  left:2px;
  top:6px;
  width:24px;
  visibility:hidden;
  word-wrap:break-word;
}
#u139_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:28px;
}
#u139 {
  position:absolute;
  left:997px;
  top:52px;
  width:28px;
  height:28px;
}
#u140 {
  position:absolute;
  left:2px;
  top:6px;
  width:24px;
  visibility:hidden;
  word-wrap:break-word;
}
#u141_img {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:50px;
}
#u141 {
  position:absolute;
  left:1183px;
  top:106px;
  width:130px;
  height:50px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:34px;
}
#u142 {
  position:absolute;
  left:2px;
  top:5px;
  width:126px;
  word-wrap:break-word;
}
#u143_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u143 {
  position:absolute;
  left:1561px;
  top:105px;
  width:50px;
  height:50px;
  -webkit-transform:rotate(270deg);
  -moz-transform:rotate(270deg);
  -ms-transform:rotate(270deg);
  transform:rotate(270deg);
}
#u144 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u145_div {
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:1214px;
  background:inherit;
  background-color:rgba(228, 228, 228, 0.27843137254902);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u145 {
  position:absolute;
  left:873px;
  top:166px;
  width:750px;
  height:1214px;
}
#u146 {
  position:absolute;
  left:2px;
  top:599px;
  width:746px;
  visibility:hidden;
  word-wrap:break-word;
}
#u147_div {
  position:absolute;
  left:0px;
  top:0px;
  width:726px;
  height:957px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u147 {
  position:absolute;
  left:885px;
  top:184px;
  width:726px;
  height:957px;
}
#u148 {
  position:absolute;
  left:2px;
  top:470px;
  width:722px;
  visibility:hidden;
  word-wrap:break-word;
}
#u149_img {
  position:absolute;
  left:0px;
  top:0px;
  width:726px;
  height:852px;
}
#u149 {
  position:absolute;
  left:885px;
  top:184px;
  width:726px;
  height:852px;
}
#u150 {
  position:absolute;
  left:2px;
  top:418px;
  width:722px;
  visibility:hidden;
  word-wrap:break-word;
}
#u151_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u151 {
  position:absolute;
  left:885px;
  top:106px;
  width:50px;
  height:50px;
}
#u152 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u153_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:56px;
}
#u153 {
  position:absolute;
  left:1173px;
  top:1057px;
  width:150px;
  height:56px;
  font-size:15px;
}
#u154 {
  position:absolute;
  left:2px;
  top:20px;
  width:146px;
  word-wrap:break-word;
}
#u155_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u155 {
  position:absolute;
  left:1238px;
  top:1194px;
  width:30px;
  height:30px;
}
#u156 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u157_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u157 {
  position:absolute;
  left:1192px;
  top:1194px;
  width:30px;
  height:30px;
}
#u158 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u159_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u159 {
  position:absolute;
  left:1283px;
  top:1194px;
  width:30px;
  height:30px;
}
#u160 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u161_div {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:60px;
  background:-webkit-linear-gradient(330deg, rgba(0, 187, 161, 1) 0%, rgba(0, 187, 161, 1) 0%, rgba(0, 187, 161, 1) 53%, rgba(0, 187, 161, 1) 100%, rgba(0, 187, 161, 1) 100%);
  background:-moz-linear-gradient(120deg, rgba(0, 187, 161, 1) 0%, rgba(0, 187, 161, 1) 0%, rgba(0, 187, 161, 1) 53%, rgba(0, 187, 161, 1) 100%, rgba(0, 187, 161, 1) 100%);
  background:linear-gradient(120deg, rgba(0, 187, 161, 1) 0%, rgba(0, 187, 161, 1) 0%, rgba(0, 187, 161, 1) 53%, rgba(0, 187, 161, 1) 100%, rgba(0, 187, 161, 1) 100%);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:34px;
}
#u161 {
  position:absolute;
  left:1143px;
  top:1280px;
  width:210px;
  height:60px;
  font-size:34px;
}
#u162 {
  position:absolute;
  left:2px;
  top:10px;
  width:206px;
  word-wrap:break-word;
}
#u163_div {
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:1334px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u163 {
  position:absolute;
  left:1755px;
  top:40px;
  width:750px;
  height:1334px;
}
#u164 {
  position:absolute;
  left:2px;
  top:659px;
  width:746px;
  visibility:hidden;
  word-wrap:break-word;
}
#u165_img {
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:40px;
}
#u165 {
  position:absolute;
  left:1755px;
  top:40px;
  width:750px;
  height:40px;
}
#u166 {
  position:absolute;
  left:2px;
  top:12px;
  width:746px;
  visibility:hidden;
  word-wrap:break-word;
}
#u167_img {
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:88px;
}
#u167 {
  position:absolute;
  left:1755px;
  top:80px;
  width:750px;
  height:88px;
}
#u168 {
  position:absolute;
  left:2px;
  top:36px;
  width:746px;
  visibility:hidden;
  word-wrap:break-word;
}
#u169_img {
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:38px;
}
#u169 {
  position:absolute;
  left:2074px;
  top:41px;
  width:112px;
  height:38px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u170 {
  position:absolute;
  left:2px;
  top:7px;
  width:108px;
  word-wrap:break-word;
}
#u171_img {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:28px;
}
#u171 {
  position:absolute;
  left:2422px;
  top:46px;
  width:71px;
  height:28px;
}
#u172 {
  position:absolute;
  left:2px;
  top:6px;
  width:67px;
  visibility:hidden;
  word-wrap:break-word;
}
#u173_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:28px;
}
#u173 {
  position:absolute;
  left:1767px;
  top:46px;
  width:28px;
  height:28px;
}
#u174 {
  position:absolute;
  left:2px;
  top:6px;
  width:24px;
  visibility:hidden;
  word-wrap:break-word;
}
#u175_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:28px;
}
#u175 {
  position:absolute;
  left:1795px;
  top:46px;
  width:28px;
  height:28px;
}
#u176 {
  position:absolute;
  left:2px;
  top:6px;
  width:24px;
  visibility:hidden;
  word-wrap:break-word;
}
#u177_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:28px;
}
#u177 {
  position:absolute;
  left:1823px;
  top:46px;
  width:28px;
  height:28px;
}
#u178 {
  position:absolute;
  left:2px;
  top:6px;
  width:24px;
  visibility:hidden;
  word-wrap:break-word;
}
#u179_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:28px;
}
#u179 {
  position:absolute;
  left:1851px;
  top:46px;
  width:28px;
  height:28px;
}
#u180 {
  position:absolute;
  left:2px;
  top:6px;
  width:24px;
  visibility:hidden;
  word-wrap:break-word;
}
#u181_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:28px;
}
#u181 {
  position:absolute;
  left:1879px;
  top:46px;
  width:28px;
  height:28px;
}
#u182 {
  position:absolute;
  left:2px;
  top:6px;
  width:24px;
  visibility:hidden;
  word-wrap:break-word;
}
#u183_img {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:50px;
}
#u183 {
  position:absolute;
  left:2065px;
  top:100px;
  width:130px;
  height:50px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:34px;
}
#u184 {
  position:absolute;
  left:2px;
  top:5px;
  width:126px;
  word-wrap:break-word;
}
#u185_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u185 {
  position:absolute;
  left:2443px;
  top:99px;
  width:50px;
  height:50px;
  -webkit-transform:rotate(270deg);
  -moz-transform:rotate(270deg);
  -ms-transform:rotate(270deg);
  transform:rotate(270deg);
}
#u186 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u187_div {
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:1214px;
  background:inherit;
  background-color:rgba(228, 228, 228, 0.27843137254902);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u187 {
  position:absolute;
  left:1755px;
  top:160px;
  width:750px;
  height:1214px;
}
#u188 {
  position:absolute;
  left:2px;
  top:599px;
  width:746px;
  visibility:hidden;
  word-wrap:break-word;
}
#u189_div {
  position:absolute;
  left:0px;
  top:0px;
  width:726px;
  height:957px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u189 {
  position:absolute;
  left:1767px;
  top:178px;
  width:726px;
  height:957px;
}
#u190 {
  position:absolute;
  left:2px;
  top:470px;
  width:722px;
  visibility:hidden;
  word-wrap:break-word;
}
#u191_img {
  position:absolute;
  left:0px;
  top:0px;
  width:726px;
  height:852px;
}
#u191 {
  position:absolute;
  left:1767px;
  top:178px;
  width:726px;
  height:852px;
}
#u192 {
  position:absolute;
  left:2px;
  top:418px;
  width:722px;
  visibility:hidden;
  word-wrap:break-word;
}
#u193_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u193 {
  position:absolute;
  left:1767px;
  top:100px;
  width:50px;
  height:50px;
}
#u194 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u195_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:56px;
}
#u195 {
  position:absolute;
  left:2055px;
  top:1051px;
  width:150px;
  height:56px;
  font-size:15px;
}
#u196 {
  position:absolute;
  left:2px;
  top:20px;
  width:146px;
  word-wrap:break-word;
}
#u197_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u197 {
  position:absolute;
  left:2175px;
  top:1188px;
  width:30px;
  height:30px;
}
#u198 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u199_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u199 {
  position:absolute;
  left:2115px;
  top:1188px;
  width:30px;
  height:30px;
}
#u200 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u201_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u201 {
  position:absolute;
  left:2055px;
  top:1188px;
  width:30px;
  height:30px;
}
#u202 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u203_div {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:60px;
  background:-webkit-linear-gradient(330deg, rgba(0, 187, 161, 1) 0%, rgba(0, 187, 161, 1) 0%, rgba(0, 187, 161, 1) 53%, rgba(0, 187, 161, 1) 100%, rgba(0, 187, 161, 1) 100%);
  background:-moz-linear-gradient(120deg, rgba(0, 187, 161, 1) 0%, rgba(0, 187, 161, 1) 0%, rgba(0, 187, 161, 1) 53%, rgba(0, 187, 161, 1) 100%, rgba(0, 187, 161, 1) 100%);
  background:linear-gradient(120deg, rgba(0, 187, 161, 1) 0%, rgba(0, 187, 161, 1) 0%, rgba(0, 187, 161, 1) 53%, rgba(0, 187, 161, 1) 100%, rgba(0, 187, 161, 1) 100%);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:34px;
}
#u203 {
  position:absolute;
  left:2025px;
  top:1274px;
  width:210px;
  height:60px;
  font-size:34px;
}
#u204 {
  position:absolute;
  left:2px;
  top:10px;
  width:206px;
  word-wrap:break-word;
}
