body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1427px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2249_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:659px;
  height:62px;
}
#u2249 {
  border-width:0px;
  position:absolute;
  left:34px;
  top:54px;
  width:659px;
  height:62px;
  font-size:20px;
  text-align:left;
}
#u2249_text {
  border-width:0px;
  position:absolute;
  left:15px;
  top:19px;
  width:642px;
  word-wrap:break-word;
}
#u2250_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u2250 {
  border-width:0px;
  position:absolute;
  left:129px;
  top:68px;
  width:133px;
  height:35px;
  font-size:20px;
}
#u2250_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:129px;
  word-wrap:break-word;
}
#u2251_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u2251 {
  border-width:0px;
  position:absolute;
  left:554px;
  top:68px;
  width:133px;
  height:35px;
  font-size:20px;
}
#u2251_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:129px;
  word-wrap:break-word;
}
#u2252_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u2252 {
  border-width:0px;
  position:absolute;
  left:408px;
  top:290px;
  width:98px;
  height:35px;
  font-size:20px;
}
#u2252_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:94px;
  word-wrap:break-word;
}
#u2253_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u2253 {
  border-width:0px;
  position:absolute;
  left:554px;
  top:143px;
  width:133px;
  height:35px;
  font-size:20px;
}
#u2253_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:129px;
  word-wrap:break-word;
}
#u2254_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u2254 {
  border-width:0px;
  position:absolute;
  left:1176px;
  top:68px;
  width:133px;
  height:35px;
  font-size:20px;
}
#u2254_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:129px;
  word-wrap:break-word;
}
#u2255_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u2255 {
  border-width:0px;
  position:absolute;
  left:554px;
  top:219px;
  width:133px;
  height:35px;
  font-size:20px;
}
#u2255_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:129px;
  word-wrap:break-word;
}
#u2256_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:147px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u2256 {
  border-width:0px;
  position:absolute;
  left:384px;
  top:369px;
  width:147px;
  height:35px;
  font-size:20px;
}
#u2256_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:143px;
  word-wrap:break-word;
}
#u2257_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u2257 {
  border-width:0px;
  position:absolute;
  left:638px;
  top:419px;
  width:134px;
  height:35px;
  font-size:20px;
}
#u2257_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:130px;
  word-wrap:break-word;
}
#u2258 {
  border-width:0px;
  position:absolute;
  left:621px;
  top:103px;
  width:0px;
  height:0px;
  font-size:20px;
  color:#000000;
}
#u2258_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:44px;
}
#u2258_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:28px;
  width:18px;
  height:18px;
}
#u2258_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:12px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2259 {
  border-width:0px;
  position:absolute;
  left:621px;
  top:178px;
  width:0px;
  height:0px;
  font-size:20px;
  color:#000000;
}
#u2259_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:45px;
}
#u2259_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:29px;
  width:18px;
  height:18px;
}
#u2259_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:12px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2260 {
  border-width:0px;
  position:absolute;
  left:621px;
  top:254px;
  width:0px;
  height:0px;
  font-size:20px;
  color:#000000;
}
#u2260_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:14px;
}
#u2260_seg1 {
  border-width:0px;
  position:absolute;
  left:-168px;
  top:6px;
  width:172px;
  height:8px;
}
#u2260_seg2 {
  border-width:0px;
  position:absolute;
  left:-168px;
  top:6px;
  width:8px;
  height:30px;
}
#u2260_seg3 {
  border-width:0px;
  position:absolute;
  left:-173px;
  top:24px;
  width:18px;
  height:18px;
}
#u2260_text {
  border-width:0px;
  position:absolute;
  left:-140px;
  top:2px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2261 {
  border-width:0px;
  position:absolute;
  left:621px;
  top:254px;
  width:0px;
  height:0px;
  font-size:20px;
  color:#000000;
}
#u2261_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:14px;
}
#u2261_seg1 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:6px;
  width:218px;
  height:8px;
}
#u2261_seg2 {
  border-width:0px;
  position:absolute;
  left:206px;
  top:6px;
  width:8px;
  height:30px;
}
#u2261_seg3 {
  border-width:0px;
  position:absolute;
  left:201px;
  top:24px;
  width:18px;
  height:18px;
}
#u2261_text {
  border-width:0px;
  position:absolute;
  left:63px;
  top:-2px;
  width:100px;
  word-wrap:break-word;
}
#u2262 {
  border-width:0px;
  position:absolute;
  left:457px;
  top:325px;
  width:0px;
  height:0px;
  font-size:20px;
  color:#000000;
}
#u2262_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:29px;
}
#u2262_seg1 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:21px;
  width:9px;
  height:8px;
}
#u2262_seg2 {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:21px;
  width:8px;
  height:23px;
}
#u2262_seg3 {
  border-width:0px;
  position:absolute;
  left:-8px;
  top:32px;
  width:18px;
  height:18px;
}
#u2262_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:14px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2263 {
  border-width:0px;
  position:absolute;
  left:753px;
  top:347px;
  width:0px;
  height:0px;
  font-size:20px;
  color:#000000;
}
#u2263_seg0 {
  border-width:0px;
  position:absolute;
  left:-52px;
  top:-4px;
  width:52px;
  height:8px;
}
#u2263_seg1 {
  border-width:0px;
  position:absolute;
  left:-52px;
  top:-4px;
  width:8px;
  height:76px;
}
#u2263_seg2 {
  border-width:0px;
  position:absolute;
  left:-57px;
  top:60px;
  width:18px;
  height:18px;
}
#u2263_text {
  border-width:0px;
  position:absolute;
  left:-98px;
  top:0px;
  width:100px;
  word-wrap:break-word;
}
#u2264_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:340px;
  height:226px;
  background:inherit;
  background-color:rgba(255, 223, 37, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  font-size:20px;
  line-height:30px;
}
#u2264 {
  border-width:0px;
  position:absolute;
  left:1087px;
  top:126px;
  width:340px;
  height:226px;
  font-size:20px;
  line-height:30px;
}
#u2264_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:10px;
  width:320px;
  word-wrap:break-word;
}
#u2265_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:402px;
  height:144px;
  background:inherit;
  background-color:rgba(255, 223, 37, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  font-size:20px;
  line-height:30px;
}
#u2265 {
  border-width:0px;
  position:absolute;
  left:17px;
  top:126px;
  width:402px;
  height:144px;
  font-size:20px;
  line-height:30px;
}
#u2265_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:10px;
  width:382px;
  word-wrap:break-word;
}
#u2266_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u2266 {
  border-width:0px;
  position:absolute;
  left:932px;
  top:419px;
  width:134px;
  height:35px;
  font-size:20px;
}
#u2266_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:130px;
  word-wrap:break-word;
}
#u2267_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:156px;
  height:114px;
}
#u2267 {
  border-width:0px;
  position:absolute;
  left:753px;
  top:290px;
  width:156px;
  height:114px;
  font-size:20px;
}
#u2267_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:33px;
  width:152px;
  word-wrap:break-word;
}
#u2268 {
  border-width:0px;
  position:absolute;
  left:909px;
  top:347px;
  width:0px;
  height:0px;
  font-size:20px;
  color:#000000;
}
#u2268_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:94px;
  height:8px;
}
#u2268_seg1 {
  border-width:0px;
  position:absolute;
  left:86px;
  top:-4px;
  width:8px;
  height:76px;
}
#u2268_seg2 {
  border-width:0px;
  position:absolute;
  left:81px;
  top:60px;
  width:18px;
  height:18px;
}
#u2268_text {
  border-width:0px;
  position:absolute;
  left:31px;
  top:-12px;
  width:100px;
  word-wrap:break-word;
}
#u2269_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u2269 {
  border-width:0px;
  position:absolute;
  left:605px;
  top:557px;
  width:201px;
  height:60px;
  font-size:20px;
}
#u2269_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:197px;
  word-wrap:break-word;
}
#u2270 {
  border-width:0px;
  position:absolute;
  left:705px;
  top:454px;
  width:0px;
  height:0px;
  color:#000000;
}
#u2270_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:14px;
}
#u2270_seg1 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:6px;
  width:9px;
  height:8px;
}
#u2270_seg2 {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:6px;
  width:8px;
  height:97px;
}
#u2270_seg3 {
  border-width:0px;
  position:absolute;
  left:-8px;
  top:91px;
  width:18px;
  height:18px;
}
#u2270_text {
  border-width:0px;
  position:absolute;
  left:-49px;
  top:43px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2271_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:57px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u2271 {
  border-width:0px;
  position:absolute;
  left:904px;
  top:516px;
  width:190px;
  height:57px;
  font-size:20px;
}
#u2271_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:186px;
  word-wrap:break-word;
}
#u2272 {
  border-width:0px;
  position:absolute;
  left:999px;
  top:454px;
  width:0px;
  height:0px;
  color:#000000;
}
#u2272_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:66px;
}
#u2272_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:50px;
  width:18px;
  height:18px;
}
#u2272_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:23px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2273_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:340px;
  height:226px;
  background:inherit;
  background-color:rgba(255, 223, 37, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  font-size:20px;
  line-height:30px;
}
#u2273 {
  border-width:0px;
  position:absolute;
  left:626px;
  top:667px;
  width:340px;
  height:226px;
  font-size:20px;
  line-height:30px;
}
#u2273_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:10px;
  width:320px;
  word-wrap:break-word;
}
