body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:621px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1462 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1463_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:598px;
  height:1026px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1463 {
  border-width:0px;
  position:absolute;
  left:23px;
  top:23px;
  width:598px;
  height:1026px;
}
#u1463_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1464_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:81px;
}
#u1464 {
  border-width:0px;
  position:absolute;
  left:322px;
  top:38px;
  width:50px;
  height:80px;
}
#u1464_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:32px;
  width:46px;
  word-wrap:break-word;
}
#u1465_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:37px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1465 {
  border-width:0px;
  position:absolute;
  left:155px;
  top:179px;
  width:100px;
  height:37px;
}
#u1465_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:96px;
  word-wrap:break-word;
}
#u1466_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:33px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1466 {
  border-width:0px;
  position:absolute;
  left:470px;
  top:351px;
  width:79px;
  height:33px;
}
#u1466_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:75px;
  word-wrap:break-word;
}
#u1467_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:33px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1467 {
  border-width:0px;
  position:absolute;
  left:169px;
  top:268px;
  width:72px;
  height:33px;
}
#u1467_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:68px;
  word-wrap:break-word;
}
#u1468_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:37px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1468 {
  border-width:0px;
  position:absolute;
  left:460px;
  top:179px;
  width:100px;
  height:37px;
}
#u1468_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:96px;
  word-wrap:break-word;
}
#u1469_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u1469 {
  border-width:0px;
  position:absolute;
  left:155px;
  top:337px;
  width:100px;
  height:60px;
}
#u1469_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u1470_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:34px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1470 {
  border-width:0px;
  position:absolute;
  left:313px;
  top:350px;
  width:100px;
  height:34px;
}
#u1470_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:9px;
  width:96px;
  word-wrap:break-word;
}
#u1471_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:34px;
  background:-webkit-linear-gradient(270deg, rgba(0, 204, 153, 1) 0%, rgba(0, 204, 153, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(228, 228, 228, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(0, 204, 153, 1) 0%, rgba(0, 204, 153, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(228, 228, 228, 1) 100%);
  background:linear-gradient(180deg, rgba(0, 204, 153, 1) 0%, rgba(0, 204, 153, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(228, 228, 228, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1471 {
  border-width:0px;
  position:absolute;
  left:71px;
  top:445px;
  width:100px;
  height:34px;
}
#u1471_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:9px;
  width:96px;
  word-wrap:break-word;
}
#u1472 {
  border-width:0px;
  position:absolute;
  left:347px;
  top:118px;
  width:0px;
  height:0px;
  color:#000000;
}
#u1472_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:46px;
}
#u1472_seg1 {
  border-width:0px;
  position:absolute;
  left:-146px;
  top:38px;
  width:150px;
  height:8px;
}
#u1472_seg2 {
  border-width:0px;
  position:absolute;
  left:-146px;
  top:38px;
  width:8px;
  height:23px;
}
#u1472_seg3 {
  border-width:0px;
  position:absolute;
  left:-151px;
  top:49px;
  width:18px;
  height:18px;
}
#u1472_text {
  border-width:0px;
  position:absolute;
  left:-110px;
  top:34px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1473 {
  border-width:0px;
  position:absolute;
  left:347px;
  top:118px;
  width:0px;
  height:0px;
  color:#000000;
}
#u1473_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:46px;
}
#u1473_seg1 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:38px;
  width:171px;
  height:8px;
}
#u1473_seg2 {
  border-width:0px;
  position:absolute;
  left:159px;
  top:38px;
  width:8px;
  height:23px;
}
#u1473_seg3 {
  border-width:0px;
  position:absolute;
  left:154px;
  top:49px;
  width:18px;
  height:18px;
}
#u1473_text {
  border-width:0px;
  position:absolute;
  left:20px;
  top:34px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1474 {
  border-width:0px;
  position:absolute;
  left:205px;
  top:216px;
  width:0px;
  height:0px;
  color:#000000;
}
#u1474_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:56px;
}
#u1474_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:40px;
  width:18px;
  height:18px;
}
#u1474_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:18px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1475 {
  border-width:0px;
  position:absolute;
  left:205px;
  top:216px;
  width:0px;
  height:0px;
  color:#000000;
}
#u1475_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:9px;
}
#u1475_seg1 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:1px;
  width:8px;
  height:36px;
}
#u1475_seg2 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:29px;
  width:313px;
  height:8px;
}
#u1475_seg3 {
  border-width:0px;
  position:absolute;
  left:301px;
  top:29px;
  width:8px;
  height:106px;
}
#u1475_seg4 {
  border-width:0px;
  position:absolute;
  left:296px;
  top:123px;
  width:18px;
  height:18px;
}
#u1475_text {
  border-width:0px;
  position:absolute;
  left:137px;
  top:25px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1476 {
  border-width:0px;
  position:absolute;
  left:510px;
  top:216px;
  width:0px;
  height:0px;
  color:#000000;
}
#u1476_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:139px;
}
#u1476_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:123px;
  width:18px;
  height:18px;
}
#u1476_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:60px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1477 {
  border-width:0px;
  position:absolute;
  left:205px;
  top:301px;
  width:0px;
  height:0px;
  color:#000000;
}
#u1477_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:40px;
}
#u1477_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:24px;
  width:18px;
  height:18px;
}
#u1477_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:10px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1478 {
  border-width:0px;
  position:absolute;
  left:255px;
  top:367px;
  width:0px;
  height:0px;
  color:#000000;
}
#u1478_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:62px;
  height:8px;
}
#u1478_seg1 {
  border-width:0px;
  position:absolute;
  left:46px;
  top:-9px;
  width:18px;
  height:18px;
}
#u1478_text {
  border-width:0px;
  position:absolute;
  left:-21px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
}
#u1479 {
  border-width:0px;
  position:absolute;
  left:155px;
  top:367px;
  width:0px;
  height:0px;
  color:#000000;
}
#u1479_seg0 {
  border-width:0px;
  position:absolute;
  left:-38px;
  top:-4px;
  width:38px;
  height:8px;
}
#u1479_seg1 {
  border-width:0px;
  position:absolute;
  left:-38px;
  top:-4px;
  width:8px;
  height:82px;
}
#u1479_seg2 {
  border-width:0px;
  position:absolute;
  left:-43px;
  top:66px;
  width:18px;
  height:18px;
}
#u1479_text {
  border-width:0px;
  position:absolute;
  left:-84px;
  top:14px;
  width:100px;
  word-wrap:break-word;
}
#u1480 {
  border-width:0px;
  position:absolute;
  left:413px;
  top:367px;
  width:0px;
  height:0px;
  color:#000000;
}
#u1480_seg0 {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-3px;
  width:60px;
  height:8px;
  -webkit-transform:rotate(-178.994913994746deg);
  -moz-transform:rotate(-178.994913994746deg);
  -ms-transform:rotate(-178.994913994746deg);
  transform:rotate(-178.994913994746deg);
}
#u1480_seg1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1480_seg2 {
  border-width:0px;
  position:absolute;
  left:44px;
  top:-8px;
  width:19px;
  height:18px;
  -webkit-transform:rotate(-178.994913994746deg);
  -moz-transform:rotate(-178.994913994746deg);
  -ms-transform:rotate(-178.994913994746deg);
  transform:rotate(-178.994913994746deg);
}
#u1480_text {
  border-width:0px;
  position:absolute;
  left:-21px;
  top:-7px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1481_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:34px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1481 {
  border-width:0px;
  position:absolute;
  left:155px;
  top:528px;
  width:100px;
  height:34px;
}
#u1481_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:9px;
  width:96px;
  word-wrap:break-word;
}
#u1482_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:34px;
  background:-webkit-linear-gradient(270deg, rgba(0, 204, 153, 1) 0%, rgba(0, 204, 153, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(228, 228, 228, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(0, 204, 153, 1) 0%, rgba(0, 204, 153, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(228, 228, 228, 1) 100%);
  background:linear-gradient(180deg, rgba(0, 204, 153, 1) 0%, rgba(0, 204, 153, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(228, 228, 228, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1482 {
  border-width:0px;
  position:absolute;
  left:460px;
  top:445px;
  width:100px;
  height:34px;
}
#u1482_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:9px;
  width:96px;
  word-wrap:break-word;
}
#u1483_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:34px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1483 {
  border-width:0px;
  position:absolute;
  left:460px;
  top:528px;
  width:100px;
  height:34px;
}
#u1483_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:9px;
  width:96px;
  word-wrap:break-word;
}
#u1484 {
  border-width:0px;
  position:absolute;
  left:510px;
  top:384px;
  width:0px;
  height:0px;
  color:#000000;
}
#u1484_seg0 {
  border-width:0px;
  position:absolute;
  left:-32px;
  top:26px;
  width:64px;
  height:8px;
  -webkit-transform:rotate(270deg);
  -moz-transform:rotate(270deg);
  -ms-transform:rotate(270deg);
  transform:rotate(270deg);
}
#u1484_seg1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1484_seg2 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:49px;
  width:19px;
  height:18px;
  -webkit-transform:rotate(270deg);
  -moz-transform:rotate(270deg);
  -ms-transform:rotate(270deg);
  transform:rotate(270deg);
}
#u1484_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:23px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1485 {
  border-width:0px;
  position:absolute;
  left:510px;
  top:479px;
  width:0px;
  height:0px;
  color:#000000;
}
#u1485_seg0 {
  border-width:0px;
  position:absolute;
  left:-26px;
  top:21px;
  width:52px;
  height:8px;
  -webkit-transform:rotate(270deg);
  -moz-transform:rotate(270deg);
  -ms-transform:rotate(270deg);
  transform:rotate(270deg);
}
#u1485_seg1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1485_seg2 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:37px;
  width:19px;
  height:18px;
  -webkit-transform:rotate(270deg);
  -moz-transform:rotate(270deg);
  -ms-transform:rotate(270deg);
  transform:rotate(270deg);
}
#u1485_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:17px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1486 {
  border-width:0px;
  position:absolute;
  left:460px;
  top:545px;
  width:0px;
  height:0px;
  color:#000000;
}
#u1486_seg0 {
  border-width:0px;
  position:absolute;
  left:-153px;
  top:-4px;
  width:153px;
  height:8px;
}
#u1486_seg1 {
  border-width:0px;
  position:absolute;
  left:-153px;
  top:-87px;
  width:8px;
  height:91px;
}
#u1486_seg2 {
  border-width:0px;
  position:absolute;
  left:-289px;
  top:-87px;
  width:144px;
  height:8px;
}
#u1486_seg3 {
  border-width:0px;
  position:absolute;
  left:-295px;
  top:-92px;
  width:18px;
  height:18px;
}
#u1486_text {
  border-width:0px;
  position:absolute;
  left:-199px;
  top:-45px;
  width:100px;
  word-wrap:break-word;
}
#u1487 {
  border-width:0px;
  position:absolute;
  left:121px;
  top:479px;
  width:0px;
  height:0px;
  color:#000000;
}
#u1487_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:35px;
}
#u1487_seg1 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:27px;
  width:92px;
  height:8px;
}
#u1487_seg2 {
  border-width:0px;
  position:absolute;
  left:80px;
  top:27px;
  width:8px;
  height:22px;
}
#u1487_seg3 {
  border-width:0px;
  position:absolute;
  left:75px;
  top:37px;
  width:18px;
  height:18px;
}
#u1487_text {
  border-width:0px;
  position:absolute;
  left:-14px;
  top:23px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1488_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:80px;
}
#u1488 {
  border-width:0px;
  position:absolute;
  left:258px;
  top:634px;
  width:60px;
  height:80px;
}
#u1488_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:32px;
  width:56px;
  word-wrap:break-word;
}
#u1489 {
  border-width:0px;
  position:absolute;
  left:205px;
  top:562px;
  width:0px;
  height:0px;
  color:#000000;
}
#u1489_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:62px;
}
#u1489_seg1 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:54px;
  width:91px;
  height:8px;
}
#u1489_seg2 {
  border-width:0px;
  position:absolute;
  left:79px;
  top:54px;
  width:8px;
  height:18px;
}
#u1489_seg3 {
  border-width:0px;
  position:absolute;
  left:74px;
  top:60px;
  width:18px;
  height:18px;
}
#u1489_text {
  border-width:0px;
  position:absolute;
  left:-30px;
  top:50px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1490 {
  border-width:0px;
  position:absolute;
  left:510px;
  top:562px;
  width:0px;
  height:0px;
  color:#000000;
}
#u1490_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:62px;
}
#u1490_seg1 {
  border-width:0px;
  position:absolute;
  left:-226px;
  top:54px;
  width:230px;
  height:8px;
}
#u1490_seg2 {
  border-width:0px;
  position:absolute;
  left:-226px;
  top:54px;
  width:8px;
  height:18px;
}
#u1490_seg3 {
  border-width:0px;
  position:absolute;
  left:-231px;
  top:60px;
  width:18px;
  height:18px;
}
#u1490_text {
  border-width:0px;
  position:absolute;
  left:-139px;
  top:50px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1491_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:34px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1491 {
  border-width:0px;
  position:absolute;
  left:238px;
  top:758px;
  width:100px;
  height:34px;
}
#u1491_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:9px;
  width:96px;
  word-wrap:break-word;
}
#u1492_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:34px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1492 {
  border-width:0px;
  position:absolute;
  left:130px;
  top:831px;
  width:100px;
  height:34px;
}
#u1492_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:9px;
  width:96px;
  word-wrap:break-word;
}
#u1493_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:34px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1493 {
  border-width:0px;
  position:absolute;
  left:346px;
  top:831px;
  width:100px;
  height:34px;
}
#u1493_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:9px;
  width:96px;
  word-wrap:break-word;
}
#u1494 {
  border-width:0px;
  position:absolute;
  left:288px;
  top:714px;
  width:0px;
  height:0px;
  color:#000000;
}
#u1494_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:48px;
}
#u1494_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:32px;
  width:18px;
  height:18px;
}
#u1494_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:14px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1495 {
  border-width:0px;
  position:absolute;
  left:288px;
  top:792px;
  width:0px;
  height:0px;
  color:#000000;
}
#u1495_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:32px;
}
#u1495_seg1 {
  border-width:0px;
  position:absolute;
  left:-112px;
  top:24px;
  width:116px;
  height:8px;
}
#u1495_seg2 {
  border-width:0px;
  position:absolute;
  left:-112px;
  top:24px;
  width:8px;
  height:15px;
}
#u1495_seg3 {
  border-width:0px;
  position:absolute;
  left:-117px;
  top:27px;
  width:18px;
  height:18px;
}
#u1495_text {
  border-width:0px;
  position:absolute;
  left:-96px;
  top:20px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1496 {
  border-width:0px;
  position:absolute;
  left:288px;
  top:792px;
  width:0px;
  height:0px;
  color:#000000;
}
#u1496_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:32px;
}
#u1496_seg1 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:24px;
  width:116px;
  height:8px;
}
#u1496_seg2 {
  border-width:0px;
  position:absolute;
  left:104px;
  top:24px;
  width:8px;
  height:15px;
}
#u1496_seg3 {
  border-width:0px;
  position:absolute;
  left:99px;
  top:27px;
  width:18px;
  height:18px;
}
#u1496_text {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:20px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1497_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:147px;
  height:40px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1497 {
  border-width:0px;
  position:absolute;
  left:107px;
  top:904px;
  width:147px;
  height:40px;
}
#u1497_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:143px;
  word-wrap:break-word;
}
#u1498 {
  border-width:0px;
  position:absolute;
  left:180px;
  top:865px;
  width:0px;
  height:0px;
  color:#000000;
}
#u1498_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:29px;
}
#u1498_seg1 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:21px;
  width:9px;
  height:8px;
}
#u1498_seg2 {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:21px;
  width:8px;
  height:18px;
}
#u1498_seg3 {
  border-width:0px;
  position:absolute;
  left:-8px;
  top:27px;
  width:18px;
  height:18px;
}
#u1498_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:12px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1499 {
  border-width:0px;
  position:absolute;
  left:396px;
  top:865px;
  width:0px;
  height:0px;
  color:#000000;
}
#u1499_seg0 {
  border-width:0px;
  position:absolute;
  left:-20px;
  top:15px;
  width:42px;
  height:8px;
  -webkit-transform:rotate(-91.4688007143858deg);
  -moz-transform:rotate(-91.4688007143858deg);
  -ms-transform:rotate(-91.4688007143858deg);
  transform:rotate(-91.4688007143858deg);
}
#u1499_seg1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1499_seg2 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:27px;
  width:19px;
  height:18px;
  -webkit-transform:rotate(-91.4688007143864deg);
  -moz-transform:rotate(-91.4688007143864deg);
  -ms-transform:rotate(-91.4688007143864deg);
  transform:rotate(-91.4688007143864deg);
}
#u1499_text {
  border-width:0px;
  position:absolute;
  left:-49px;
  top:12px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1500_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:33px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1500 {
  border-width:0px;
  position:absolute;
  left:131px;
  top:987px;
  width:100px;
  height:33px;
}
#u1500_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:96px;
  word-wrap:break-word;
}
#u1501 {
  border-width:0px;
  position:absolute;
  left:181px;
  top:944px;
  width:0px;
  height:0px;
  color:#000000;
}
#u1501_seg0 {
  border-width:0px;
  position:absolute;
  left:-23px;
  top:18px;
  width:46px;
  height:8px;
  -webkit-transform:rotate(270deg);
  -moz-transform:rotate(270deg);
  -ms-transform:rotate(270deg);
  transform:rotate(270deg);
}
#u1501_seg1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1501_seg2 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:31px;
  width:19px;
  height:18px;
  -webkit-transform:rotate(270deg);
  -moz-transform:rotate(270deg);
  -ms-transform:rotate(270deg);
  transform:rotate(270deg);
}
#u1501_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:14px;
  width:100px;
  word-wrap:break-word;
}
#u1502 {
  border-width:0px;
  position:absolute;
  left:130px;
  top:848px;
  width:0px;
  height:0px;
  color:#000000;
}
#u1502_seg0 {
  border-width:0px;
  position:absolute;
  left:-66px;
  top:-4px;
  width:66px;
  height:8px;
}
#u1502_seg1 {
  border-width:0px;
  position:absolute;
  left:-66px;
  top:-390px;
  width:8px;
  height:394px;
}
#u1502_seg2 {
  border-width:0px;
  position:absolute;
  left:-66px;
  top:-390px;
  width:7px;
  height:8px;
}
#u1502_seg3 {
  border-width:0px;
  position:absolute;
  left:-71px;
  top:-395px;
  width:18px;
  height:18px;
}
#u1502_text {
  border-width:0px;
  position:absolute;
  left:-112px;
  top:-180px;
  width:100px;
  word-wrap:break-word;
}
#u1503_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:147px;
  height:40px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1503 {
  border-width:0px;
  position:absolute;
  left:323px;
  top:904px;
  width:147px;
  height:40px;
}
#u1503_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:143px;
  word-wrap:break-word;
}
#u1504_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:33px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1504 {
  border-width:0px;
  position:absolute;
  left:347px;
  top:987px;
  width:100px;
  height:33px;
}
#u1504_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:96px;
  word-wrap:break-word;
}
#u1505 {
  border-width:0px;
  position:absolute;
  left:397px;
  top:944px;
  width:0px;
  height:0px;
  color:#000000;
}
#u1505_seg0 {
  border-width:0px;
  position:absolute;
  left:-23px;
  top:18px;
  width:46px;
  height:8px;
  -webkit-transform:rotate(270deg);
  -moz-transform:rotate(270deg);
  -ms-transform:rotate(270deg);
  transform:rotate(270deg);
}
#u1505_seg1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1505_seg2 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:31px;
  width:19px;
  height:18px;
  -webkit-transform:rotate(270deg);
  -moz-transform:rotate(270deg);
  -ms-transform:rotate(270deg);
  transform:rotate(270deg);
}
#u1505_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:14px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1506 {
  border-width:0px;
  position:absolute;
  left:447px;
  top:1004px;
  width:0px;
  height:0px;
  color:#000000;
}
#u1506_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:122px;
  height:8px;
}
#u1506_seg1 {
  border-width:0px;
  position:absolute;
  left:114px;
  top:-334px;
  width:8px;
  height:338px;
}
#u1506_seg2 {
  border-width:0px;
  position:absolute;
  left:-129px;
  top:-334px;
  width:251px;
  height:8px;
}
#u1506_seg3 {
  border-width:0px;
  position:absolute;
  left:-135px;
  top:-339px;
  width:18px;
  height:18px;
}
#u1506_text {
  border-width:0px;
  position:absolute;
  left:68px;
  top:-246px;
  width:100px;
  word-wrap:break-word;
}
