body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:621px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2198 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2199_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:598px;
  height:1026px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2199 {
  border-width:0px;
  position:absolute;
  left:23px;
  top:23px;
  width:598px;
  height:1026px;
}
#u2199_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2200_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:81px;
}
#u2200 {
  border-width:0px;
  position:absolute;
  left:322px;
  top:38px;
  width:50px;
  height:80px;
}
#u2200_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:32px;
  width:46px;
  word-wrap:break-word;
}
#u2201_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:37px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2201 {
  border-width:0px;
  position:absolute;
  left:155px;
  top:179px;
  width:100px;
  height:37px;
}
#u2201_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:96px;
  word-wrap:break-word;
}
#u2202_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:33px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2202 {
  border-width:0px;
  position:absolute;
  left:470px;
  top:351px;
  width:79px;
  height:33px;
}
#u2202_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:75px;
  word-wrap:break-word;
}
#u2203_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:33px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2203 {
  border-width:0px;
  position:absolute;
  left:169px;
  top:268px;
  width:72px;
  height:33px;
}
#u2203_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:68px;
  word-wrap:break-word;
}
#u2204_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:37px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2204 {
  border-width:0px;
  position:absolute;
  left:460px;
  top:179px;
  width:100px;
  height:37px;
}
#u2204_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:96px;
  word-wrap:break-word;
}
#u2205_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u2205 {
  border-width:0px;
  position:absolute;
  left:155px;
  top:337px;
  width:100px;
  height:60px;
}
#u2205_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u2206_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:34px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2206 {
  border-width:0px;
  position:absolute;
  left:313px;
  top:350px;
  width:100px;
  height:34px;
}
#u2206_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:9px;
  width:96px;
  word-wrap:break-word;
}
#u2207_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:34px;
  background:-webkit-linear-gradient(270deg, rgba(0, 204, 153, 1) 0%, rgba(0, 204, 153, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(228, 228, 228, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(0, 204, 153, 1) 0%, rgba(0, 204, 153, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(228, 228, 228, 1) 100%);
  background:linear-gradient(180deg, rgba(0, 204, 153, 1) 0%, rgba(0, 204, 153, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(228, 228, 228, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2207 {
  border-width:0px;
  position:absolute;
  left:71px;
  top:445px;
  width:100px;
  height:34px;
}
#u2207_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:9px;
  width:96px;
  word-wrap:break-word;
}
#u2208 {
  border-width:0px;
  position:absolute;
  left:347px;
  top:118px;
  width:0px;
  height:0px;
  color:#000000;
}
#u2208_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:46px;
}
#u2208_seg1 {
  border-width:0px;
  position:absolute;
  left:-146px;
  top:38px;
  width:150px;
  height:8px;
}
#u2208_seg2 {
  border-width:0px;
  position:absolute;
  left:-146px;
  top:38px;
  width:8px;
  height:23px;
}
#u2208_seg3 {
  border-width:0px;
  position:absolute;
  left:-151px;
  top:49px;
  width:18px;
  height:18px;
}
#u2208_text {
  border-width:0px;
  position:absolute;
  left:-110px;
  top:34px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2209 {
  border-width:0px;
  position:absolute;
  left:347px;
  top:118px;
  width:0px;
  height:0px;
  color:#000000;
}
#u2209_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:46px;
}
#u2209_seg1 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:38px;
  width:171px;
  height:8px;
}
#u2209_seg2 {
  border-width:0px;
  position:absolute;
  left:159px;
  top:38px;
  width:8px;
  height:23px;
}
#u2209_seg3 {
  border-width:0px;
  position:absolute;
  left:154px;
  top:49px;
  width:18px;
  height:18px;
}
#u2209_text {
  border-width:0px;
  position:absolute;
  left:20px;
  top:34px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2210 {
  border-width:0px;
  position:absolute;
  left:205px;
  top:216px;
  width:0px;
  height:0px;
  color:#000000;
}
#u2210_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:56px;
}
#u2210_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:40px;
  width:18px;
  height:18px;
}
#u2210_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:18px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2211 {
  border-width:0px;
  position:absolute;
  left:205px;
  top:216px;
  width:0px;
  height:0px;
  color:#000000;
}
#u2211_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:9px;
}
#u2211_seg1 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:1px;
  width:8px;
  height:36px;
}
#u2211_seg2 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:29px;
  width:313px;
  height:8px;
}
#u2211_seg3 {
  border-width:0px;
  position:absolute;
  left:301px;
  top:29px;
  width:8px;
  height:106px;
}
#u2211_seg4 {
  border-width:0px;
  position:absolute;
  left:296px;
  top:123px;
  width:18px;
  height:18px;
}
#u2211_text {
  border-width:0px;
  position:absolute;
  left:137px;
  top:25px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2212 {
  border-width:0px;
  position:absolute;
  left:510px;
  top:216px;
  width:0px;
  height:0px;
  color:#000000;
}
#u2212_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:139px;
}
#u2212_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:123px;
  width:18px;
  height:18px;
}
#u2212_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:60px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2213 {
  border-width:0px;
  position:absolute;
  left:205px;
  top:301px;
  width:0px;
  height:0px;
  color:#000000;
}
#u2213_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:40px;
}
#u2213_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:24px;
  width:18px;
  height:18px;
}
#u2213_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:10px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2214 {
  border-width:0px;
  position:absolute;
  left:255px;
  top:367px;
  width:0px;
  height:0px;
  color:#000000;
}
#u2214_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:62px;
  height:8px;
}
#u2214_seg1 {
  border-width:0px;
  position:absolute;
  left:46px;
  top:-9px;
  width:18px;
  height:18px;
}
#u2214_text {
  border-width:0px;
  position:absolute;
  left:-21px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
}
#u2215 {
  border-width:0px;
  position:absolute;
  left:155px;
  top:367px;
  width:0px;
  height:0px;
  color:#000000;
}
#u2215_seg0 {
  border-width:0px;
  position:absolute;
  left:-38px;
  top:-4px;
  width:38px;
  height:8px;
}
#u2215_seg1 {
  border-width:0px;
  position:absolute;
  left:-38px;
  top:-4px;
  width:8px;
  height:82px;
}
#u2215_seg2 {
  border-width:0px;
  position:absolute;
  left:-43px;
  top:66px;
  width:18px;
  height:18px;
}
#u2215_text {
  border-width:0px;
  position:absolute;
  left:-84px;
  top:14px;
  width:100px;
  word-wrap:break-word;
}
#u2216 {
  border-width:0px;
  position:absolute;
  left:413px;
  top:367px;
  width:0px;
  height:0px;
  color:#000000;
}
#u2216_seg0 {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-3px;
  width:60px;
  height:8px;
  -webkit-transform:rotate(-178.994913994746deg);
  -moz-transform:rotate(-178.994913994746deg);
  -ms-transform:rotate(-178.994913994746deg);
  transform:rotate(-178.994913994746deg);
}
#u2216_seg1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u2216_seg2 {
  border-width:0px;
  position:absolute;
  left:44px;
  top:-8px;
  width:19px;
  height:18px;
  -webkit-transform:rotate(-178.994913994746deg);
  -moz-transform:rotate(-178.994913994746deg);
  -ms-transform:rotate(-178.994913994746deg);
  transform:rotate(-178.994913994746deg);
}
#u2216_text {
  border-width:0px;
  position:absolute;
  left:-21px;
  top:-7px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2217_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:34px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2217 {
  border-width:0px;
  position:absolute;
  left:155px;
  top:528px;
  width:100px;
  height:34px;
}
#u2217_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:9px;
  width:96px;
  word-wrap:break-word;
}
#u2218_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:34px;
  background:-webkit-linear-gradient(270deg, rgba(0, 204, 153, 1) 0%, rgba(0, 204, 153, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(228, 228, 228, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(0, 204, 153, 1) 0%, rgba(0, 204, 153, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(228, 228, 228, 1) 100%);
  background:linear-gradient(180deg, rgba(0, 204, 153, 1) 0%, rgba(0, 204, 153, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(228, 228, 228, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2218 {
  border-width:0px;
  position:absolute;
  left:460px;
  top:445px;
  width:100px;
  height:34px;
}
#u2218_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:9px;
  width:96px;
  word-wrap:break-word;
}
#u2219_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:34px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2219 {
  border-width:0px;
  position:absolute;
  left:460px;
  top:528px;
  width:100px;
  height:34px;
}
#u2219_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:9px;
  width:96px;
  word-wrap:break-word;
}
#u2220 {
  border-width:0px;
  position:absolute;
  left:510px;
  top:384px;
  width:0px;
  height:0px;
  color:#000000;
}
#u2220_seg0 {
  border-width:0px;
  position:absolute;
  left:-32px;
  top:26px;
  width:64px;
  height:8px;
  -webkit-transform:rotate(270deg);
  -moz-transform:rotate(270deg);
  -ms-transform:rotate(270deg);
  transform:rotate(270deg);
}
#u2220_seg1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u2220_seg2 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:49px;
  width:19px;
  height:18px;
  -webkit-transform:rotate(270deg);
  -moz-transform:rotate(270deg);
  -ms-transform:rotate(270deg);
  transform:rotate(270deg);
}
#u2220_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:23px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2221 {
  border-width:0px;
  position:absolute;
  left:510px;
  top:479px;
  width:0px;
  height:0px;
  color:#000000;
}
#u2221_seg0 {
  border-width:0px;
  position:absolute;
  left:-26px;
  top:21px;
  width:52px;
  height:8px;
  -webkit-transform:rotate(270deg);
  -moz-transform:rotate(270deg);
  -ms-transform:rotate(270deg);
  transform:rotate(270deg);
}
#u2221_seg1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u2221_seg2 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:37px;
  width:19px;
  height:18px;
  -webkit-transform:rotate(270deg);
  -moz-transform:rotate(270deg);
  -ms-transform:rotate(270deg);
  transform:rotate(270deg);
}
#u2221_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:17px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2222 {
  border-width:0px;
  position:absolute;
  left:460px;
  top:545px;
  width:0px;
  height:0px;
  color:#000000;
}
#u2222_seg0 {
  border-width:0px;
  position:absolute;
  left:-153px;
  top:-4px;
  width:153px;
  height:8px;
}
#u2222_seg1 {
  border-width:0px;
  position:absolute;
  left:-153px;
  top:-87px;
  width:8px;
  height:91px;
}
#u2222_seg2 {
  border-width:0px;
  position:absolute;
  left:-289px;
  top:-87px;
  width:144px;
  height:8px;
}
#u2222_seg3 {
  border-width:0px;
  position:absolute;
  left:-295px;
  top:-92px;
  width:18px;
  height:18px;
}
#u2222_text {
  border-width:0px;
  position:absolute;
  left:-199px;
  top:-45px;
  width:100px;
  word-wrap:break-word;
}
#u2223 {
  border-width:0px;
  position:absolute;
  left:121px;
  top:479px;
  width:0px;
  height:0px;
  color:#000000;
}
#u2223_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:35px;
}
#u2223_seg1 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:27px;
  width:92px;
  height:8px;
}
#u2223_seg2 {
  border-width:0px;
  position:absolute;
  left:80px;
  top:27px;
  width:8px;
  height:22px;
}
#u2223_seg3 {
  border-width:0px;
  position:absolute;
  left:75px;
  top:37px;
  width:18px;
  height:18px;
}
#u2223_text {
  border-width:0px;
  position:absolute;
  left:-14px;
  top:23px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2224_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:80px;
}
#u2224 {
  border-width:0px;
  position:absolute;
  left:258px;
  top:634px;
  width:60px;
  height:80px;
}
#u2224_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:32px;
  width:56px;
  word-wrap:break-word;
}
#u2225 {
  border-width:0px;
  position:absolute;
  left:205px;
  top:562px;
  width:0px;
  height:0px;
  color:#000000;
}
#u2225_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:62px;
}
#u2225_seg1 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:54px;
  width:91px;
  height:8px;
}
#u2225_seg2 {
  border-width:0px;
  position:absolute;
  left:79px;
  top:54px;
  width:8px;
  height:18px;
}
#u2225_seg3 {
  border-width:0px;
  position:absolute;
  left:74px;
  top:60px;
  width:18px;
  height:18px;
}
#u2225_text {
  border-width:0px;
  position:absolute;
  left:-30px;
  top:50px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2226 {
  border-width:0px;
  position:absolute;
  left:510px;
  top:562px;
  width:0px;
  height:0px;
  color:#000000;
}
#u2226_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:62px;
}
#u2226_seg1 {
  border-width:0px;
  position:absolute;
  left:-226px;
  top:54px;
  width:230px;
  height:8px;
}
#u2226_seg2 {
  border-width:0px;
  position:absolute;
  left:-226px;
  top:54px;
  width:8px;
  height:18px;
}
#u2226_seg3 {
  border-width:0px;
  position:absolute;
  left:-231px;
  top:60px;
  width:18px;
  height:18px;
}
#u2226_text {
  border-width:0px;
  position:absolute;
  left:-139px;
  top:50px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2227_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:34px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2227 {
  border-width:0px;
  position:absolute;
  left:238px;
  top:758px;
  width:100px;
  height:34px;
}
#u2227_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:9px;
  width:96px;
  word-wrap:break-word;
}
#u2228_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:34px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2228 {
  border-width:0px;
  position:absolute;
  left:130px;
  top:831px;
  width:100px;
  height:34px;
}
#u2228_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:9px;
  width:96px;
  word-wrap:break-word;
}
#u2229_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:34px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2229 {
  border-width:0px;
  position:absolute;
  left:346px;
  top:831px;
  width:100px;
  height:34px;
}
#u2229_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:9px;
  width:96px;
  word-wrap:break-word;
}
#u2230 {
  border-width:0px;
  position:absolute;
  left:288px;
  top:714px;
  width:0px;
  height:0px;
  color:#000000;
}
#u2230_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:48px;
}
#u2230_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:32px;
  width:18px;
  height:18px;
}
#u2230_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:14px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2231 {
  border-width:0px;
  position:absolute;
  left:288px;
  top:792px;
  width:0px;
  height:0px;
  color:#000000;
}
#u2231_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:32px;
}
#u2231_seg1 {
  border-width:0px;
  position:absolute;
  left:-112px;
  top:24px;
  width:116px;
  height:8px;
}
#u2231_seg2 {
  border-width:0px;
  position:absolute;
  left:-112px;
  top:24px;
  width:8px;
  height:15px;
}
#u2231_seg3 {
  border-width:0px;
  position:absolute;
  left:-117px;
  top:27px;
  width:18px;
  height:18px;
}
#u2231_text {
  border-width:0px;
  position:absolute;
  left:-96px;
  top:20px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2232 {
  border-width:0px;
  position:absolute;
  left:288px;
  top:792px;
  width:0px;
  height:0px;
  color:#000000;
}
#u2232_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:32px;
}
#u2232_seg1 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:24px;
  width:116px;
  height:8px;
}
#u2232_seg2 {
  border-width:0px;
  position:absolute;
  left:104px;
  top:24px;
  width:8px;
  height:15px;
}
#u2232_seg3 {
  border-width:0px;
  position:absolute;
  left:99px;
  top:27px;
  width:18px;
  height:18px;
}
#u2232_text {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:20px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2233_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:147px;
  height:40px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2233 {
  border-width:0px;
  position:absolute;
  left:107px;
  top:904px;
  width:147px;
  height:40px;
}
#u2233_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:143px;
  word-wrap:break-word;
}
#u2234 {
  border-width:0px;
  position:absolute;
  left:180px;
  top:865px;
  width:0px;
  height:0px;
  color:#000000;
}
#u2234_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:29px;
}
#u2234_seg1 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:21px;
  width:9px;
  height:8px;
}
#u2234_seg2 {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:21px;
  width:8px;
  height:18px;
}
#u2234_seg3 {
  border-width:0px;
  position:absolute;
  left:-8px;
  top:27px;
  width:18px;
  height:18px;
}
#u2234_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:12px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2235 {
  border-width:0px;
  position:absolute;
  left:396px;
  top:865px;
  width:0px;
  height:0px;
  color:#000000;
}
#u2235_seg0 {
  border-width:0px;
  position:absolute;
  left:-20px;
  top:15px;
  width:42px;
  height:8px;
  -webkit-transform:rotate(-91.4688007143858deg);
  -moz-transform:rotate(-91.4688007143858deg);
  -ms-transform:rotate(-91.4688007143858deg);
  transform:rotate(-91.4688007143858deg);
}
#u2235_seg1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u2235_seg2 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:27px;
  width:19px;
  height:18px;
  -webkit-transform:rotate(-91.4688007143864deg);
  -moz-transform:rotate(-91.4688007143864deg);
  -ms-transform:rotate(-91.4688007143864deg);
  transform:rotate(-91.4688007143864deg);
}
#u2235_text {
  border-width:0px;
  position:absolute;
  left:-49px;
  top:12px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2236_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:33px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2236 {
  border-width:0px;
  position:absolute;
  left:131px;
  top:987px;
  width:100px;
  height:33px;
}
#u2236_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:96px;
  word-wrap:break-word;
}
#u2237 {
  border-width:0px;
  position:absolute;
  left:181px;
  top:944px;
  width:0px;
  height:0px;
  color:#000000;
}
#u2237_seg0 {
  border-width:0px;
  position:absolute;
  left:-23px;
  top:18px;
  width:46px;
  height:8px;
  -webkit-transform:rotate(270deg);
  -moz-transform:rotate(270deg);
  -ms-transform:rotate(270deg);
  transform:rotate(270deg);
}
#u2237_seg1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u2237_seg2 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:31px;
  width:19px;
  height:18px;
  -webkit-transform:rotate(270deg);
  -moz-transform:rotate(270deg);
  -ms-transform:rotate(270deg);
  transform:rotate(270deg);
}
#u2237_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:14px;
  width:100px;
  word-wrap:break-word;
}
#u2238 {
  border-width:0px;
  position:absolute;
  left:130px;
  top:848px;
  width:0px;
  height:0px;
  color:#000000;
}
#u2238_seg0 {
  border-width:0px;
  position:absolute;
  left:-66px;
  top:-4px;
  width:66px;
  height:8px;
}
#u2238_seg1 {
  border-width:0px;
  position:absolute;
  left:-66px;
  top:-390px;
  width:8px;
  height:394px;
}
#u2238_seg2 {
  border-width:0px;
  position:absolute;
  left:-66px;
  top:-390px;
  width:7px;
  height:8px;
}
#u2238_seg3 {
  border-width:0px;
  position:absolute;
  left:-71px;
  top:-395px;
  width:18px;
  height:18px;
}
#u2238_text {
  border-width:0px;
  position:absolute;
  left:-112px;
  top:-180px;
  width:100px;
  word-wrap:break-word;
}
#u2239_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:147px;
  height:40px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2239 {
  border-width:0px;
  position:absolute;
  left:323px;
  top:904px;
  width:147px;
  height:40px;
}
#u2239_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:143px;
  word-wrap:break-word;
}
#u2240_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:33px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2240 {
  border-width:0px;
  position:absolute;
  left:347px;
  top:987px;
  width:100px;
  height:33px;
}
#u2240_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:96px;
  word-wrap:break-word;
}
#u2241 {
  border-width:0px;
  position:absolute;
  left:397px;
  top:944px;
  width:0px;
  height:0px;
  color:#000000;
}
#u2241_seg0 {
  border-width:0px;
  position:absolute;
  left:-23px;
  top:18px;
  width:46px;
  height:8px;
  -webkit-transform:rotate(270deg);
  -moz-transform:rotate(270deg);
  -ms-transform:rotate(270deg);
  transform:rotate(270deg);
}
#u2241_seg1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u2241_seg2 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:31px;
  width:19px;
  height:18px;
  -webkit-transform:rotate(270deg);
  -moz-transform:rotate(270deg);
  -ms-transform:rotate(270deg);
  transform:rotate(270deg);
}
#u2241_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:14px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2242 {
  border-width:0px;
  position:absolute;
  left:447px;
  top:1004px;
  width:0px;
  height:0px;
  color:#000000;
}
#u2242_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:122px;
  height:8px;
}
#u2242_seg1 {
  border-width:0px;
  position:absolute;
  left:114px;
  top:-334px;
  width:8px;
  height:338px;
}
#u2242_seg2 {
  border-width:0px;
  position:absolute;
  left:-129px;
  top:-334px;
  width:251px;
  height:8px;
}
#u2242_seg3 {
  border-width:0px;
  position:absolute;
  left:-135px;
  top:-339px;
  width:18px;
  height:18px;
}
#u2242_text {
  border-width:0px;
  position:absolute;
  left:68px;
  top:-246px;
  width:100px;
  word-wrap:break-word;
}
