body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1414px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1107_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1400px;
  height:4397px;
}
#u1107 {
  position:absolute;
  left:14px;
  top:10px;
  width:1400px;
  height:4397px;
}
#u1108 {
  position:absolute;
  left:2px;
  top:2190px;
  width:1396px;
  visibility:hidden;
  word-wrap:break-word;
}
