body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:2518px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1122_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2504px;
  height:6302px;
}
#u1122 {
  position:absolute;
  left:14px;
  top:10px;
  width:2504px;
  height:6302px;
}
#u1123 {
  position:absolute;
  left:2px;
  top:3143px;
  width:2500px;
  visibility:hidden;
  word-wrap:break-word;
}
