body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:2138px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3_div {
  position:absolute;
  left:0px;
  top:0px;
  width:2094px;
  height:836px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3 {
  position:absolute;
  left:44px;
  top:78px;
  width:2094px;
  height:836px;
}
#u4 {
  position:absolute;
  left:2px;
  top:410px;
  width:2090px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5_div {
  position:absolute;
  left:0px;
  top:0px;
  width:925px;
  height:753px;
  background:-webkit-linear-gradient(330deg, rgba(0, 187, 161, 1) 0%, rgba(0, 187, 161, 1) 0%, rgba(0, 187, 161, 1) 53%, rgba(0, 187, 161, 1) 100%, rgba(0, 187, 161, 1) 100%);
  background:-moz-linear-gradient(120deg, rgba(0, 187, 161, 1) 0%, rgba(0, 187, 161, 1) 0%, rgba(0, 187, 161, 1) 53%, rgba(0, 187, 161, 1) 100%, rgba(0, 187, 161, 1) 100%);
  background:linear-gradient(120deg, rgba(0, 187, 161, 1) 0%, rgba(0, 187, 161, 1) 0%, rgba(0, 187, 161, 1) 53%, rgba(0, 187, 161, 1) 100%, rgba(0, 187, 161, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5 {
  position:absolute;
  left:660px;
  top:143px;
  width:925px;
  height:753px;
}
#u6 {
  position:absolute;
  left:2px;
  top:368px;
  width:921px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:109px;
}
#u7 {
  position:absolute;
  left:195px;
  top:124px;
  width:67px;
  height:108px;
}
#u8 {
  position:absolute;
  left:2px;
  top:46px;
  width:63px;
  word-wrap:break-word;
}
#u9_div {
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:54px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9 {
  position:absolute;
  left:370px;
  top:151px;
  width:134px;
  height:54px;
}
#u10 {
  position:absolute;
  left:2px;
  top:19px;
  width:130px;
  word-wrap:break-word;
}
#u11_div {
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:54px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u11 {
  position:absolute;
  left:588px;
  top:151px;
  width:134px;
  height:54px;
}
#u12 {
  position:absolute;
  left:2px;
  top:19px;
  width:130px;
  word-wrap:break-word;
}
#u13_div {
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:54px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13 {
  position:absolute;
  left:1534px;
  top:151px;
  width:134px;
  height:54px;
}
#u14 {
  position:absolute;
  left:2px;
  top:19px;
  width:130px;
  word-wrap:break-word;
}
#u15 {
  position:absolute;
  left:262px;
  top:178px;
  width:0px;
  height:0px;
  color:#000000;
}
#u15_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:112px;
  height:8px;
}
#u15_seg1 {
  position:absolute;
  left:96px;
  top:-9px;
  width:18px;
  height:18px;
}
#u16 {
  position:absolute;
  left:4px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
}
#u17 {
  position:absolute;
  left:722px;
  top:178px;
  width:0px;
  height:0px;
  color:#000000;
}
#u17_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:816px;
  height:8px;
}
#u17_seg1 {
  position:absolute;
  left:800px;
  top:-9px;
  width:18px;
  height:18px;
}
#u18 {
  position:absolute;
  left:356px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
}
#u19_div {
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:54px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19 {
  position:absolute;
  left:1178px;
  top:810px;
  width:134px;
  height:54px;
}
#u20 {
  position:absolute;
  left:2px;
  top:19px;
  width:130px;
  word-wrap:break-word;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:81px;
}
#u21 {
  position:absolute;
  left:1178px;
  top:648px;
  width:134px;
  height:81px;
}
#u22 {
  position:absolute;
  left:2px;
  top:32px;
  width:130px;
  word-wrap:break-word;
}
#u23 {
  position:absolute;
  left:1245px;
  top:729px;
  width:0px;
  height:0px;
  color:#000000;
}
#u23_seg0 {
  position:absolute;
  left:-41px;
  top:37px;
  width:82px;
  height:8px;
  -webkit-transform:rotate(270deg);
  -moz-transform:rotate(270deg);
  -ms-transform:rotate(270deg);
  transform:rotate(270deg);
}
#u23_seg1 {
  position:absolute;
  left:-9px;
  top:69px;
  width:18px;
  height:18px;
}
#u24 {
  position:absolute;
  left:-50px;
  top:33px;
  width:100px;
  word-wrap:break-word;
}
#u25_div {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:54px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u25 {
  position:absolute;
  left:701px;
  top:247px;
  width:127px;
  height:54px;
}
#u26 {
  position:absolute;
  left:2px;
  top:19px;
  width:123px;
  word-wrap:break-word;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:98px;
}
#u27 {
  position:absolute;
  left:679px;
  top:338px;
  width:171px;
  height:98px;
}
#u28 {
  position:absolute;
  left:2px;
  top:41px;
  width:167px;
  word-wrap:break-word;
}
#u29_div {
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:54px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u29 {
  position:absolute;
  left:908px;
  top:247px;
  width:134px;
  height:54px;
}
#u30 {
  position:absolute;
  left:2px;
  top:19px;
  width:130px;
  word-wrap:break-word;
}
#u31_div {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:54px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u31 {
  position:absolute;
  left:690px;
  top:485px;
  width:150px;
  height:54px;
}
#u32 {
  position:absolute;
  left:2px;
  top:11px;
  width:146px;
  word-wrap:break-word;
}
#u33 {
  position:absolute;
  left:722px;
  top:178px;
  width:0px;
  height:0px;
  color:#000000;
}
#u33_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:47px;
  height:8px;
}
#u33_seg1 {
  position:absolute;
  left:39px;
  top:-4px;
  width:8px;
  height:73px;
}
#u33_seg2 {
  position:absolute;
  left:34px;
  top:57px;
  width:18px;
  height:18px;
}
#u34 {
  position:absolute;
  left:-7px;
  top:5px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u35 {
  position:absolute;
  left:765px;
  top:301px;
  width:0px;
  height:0px;
  color:#000000;
}
#u35_seg0 {
  position:absolute;
  left:-19px;
  top:15px;
  width:38px;
  height:8px;
  -webkit-transform:rotate(270deg);
  -moz-transform:rotate(270deg);
  -ms-transform:rotate(270deg);
  transform:rotate(270deg);
}
#u35_seg1 {
  position:absolute;
  left:-9px;
  top:25px;
  width:18px;
  height:18px;
}
#u36 {
  position:absolute;
  left:-50px;
  top:11px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u37 {
  position:absolute;
  left:765px;
  top:436px;
  width:0px;
  height:0px;
  color:#000000;
}
#u37_seg0 {
  position:absolute;
  left:-25px;
  top:20px;
  width:50px;
  height:8px;
  -webkit-transform:rotate(270deg);
  -moz-transform:rotate(270deg);
  -ms-transform:rotate(270deg);
  transform:rotate(270deg);
}
#u37_seg1 {
  position:absolute;
  left:-9px;
  top:37px;
  width:18px;
  height:18px;
}
#u38 {
  position:absolute;
  left:-50px;
  top:17px;
  width:100px;
  word-wrap:break-word;
}
#u39 {
  position:absolute;
  left:850px;
  top:387px;
  width:0px;
  height:0px;
  color:#000000;
}
#u39_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:44px;
  height:8px;
}
#u39_seg1 {
  position:absolute;
  left:36px;
  top:-117px;
  width:8px;
  height:121px;
}
#u39_seg2 {
  position:absolute;
  left:36px;
  top:-117px;
  width:22px;
  height:8px;
}
#u39_seg3 {
  position:absolute;
  left:46px;
  top:-122px;
  width:18px;
  height:18px;
}
#u40 {
  position:absolute;
  left:-10px;
  top:-54px;
  width:100px;
  word-wrap:break-word;
}
#u41_div {
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:54px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u41 {
  position:absolute;
  left:908px;
  top:382px;
  width:134px;
  height:54px;
}
#u42 {
  position:absolute;
  left:2px;
  top:19px;
  width:130px;
  word-wrap:break-word;
}
#u43_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:98px;
}
#u43 {
  position:absolute;
  left:888px;
  top:463px;
  width:171px;
  height:98px;
}
#u44 {
  position:absolute;
  left:2px;
  top:41px;
  width:167px;
  word-wrap:break-word;
}
#u45_img {
  position:absolute;
  left:0px;
  top:0px;
  width:182px;
  height:145px;
}
#u45 {
  position:absolute;
  left:1154px;
  top:438px;
  width:182px;
  height:145px;
}
#u46 {
  position:absolute;
  left:2px;
  top:48px;
  width:178px;
  word-wrap:break-word;
}
#u47_div {
  position:absolute;
  left:0px;
  top:0px;
  width:194px;
  height:54px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u47 {
  position:absolute;
  left:877px;
  top:605px;
  width:194px;
  height:54px;
}
#u48 {
  position:absolute;
  left:2px;
  top:19px;
  width:190px;
  word-wrap:break-word;
}
#u49 {
  position:absolute;
  left:975px;
  top:301px;
  width:0px;
  height:0px;
  color:#000000;
}
#u49_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:85px;
}
#u49_seg1 {
  position:absolute;
  left:-9px;
  top:69px;
  width:18px;
  height:18px;
}
#u50 {
  position:absolute;
  left:-50px;
  top:32px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u51 {
  position:absolute;
  left:975px;
  top:436px;
  width:0px;
  height:0px;
  color:#000000;
}
#u51_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:18px;
}
#u51_seg1 {
  position:absolute;
  left:-5px;
  top:10px;
  width:9px;
  height:8px;
}
#u51_seg2 {
  position:absolute;
  left:-5px;
  top:10px;
  width:8px;
  height:17px;
}
#u51_seg3 {
  position:absolute;
  left:-10px;
  top:15px;
  width:18px;
  height:18px;
}
#u52 {
  position:absolute;
  left:-50px;
  top:6px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u53 {
  position:absolute;
  left:974px;
  top:561px;
  width:0px;
  height:0px;
  color:#000000;
}
#u53_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:48px;
}
#u53_seg1 {
  position:absolute;
  left:-9px;
  top:32px;
  width:18px;
  height:18px;
}
#u54 {
  position:absolute;
  left:-50px;
  top:14px;
  width:100px;
  word-wrap:break-word;
}
#u55 {
  position:absolute;
  left:1059px;
  top:512px;
  width:0px;
  height:0px;
  color:#000000;
}
#u55_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:85px;
  height:8px;
}
#u55_seg1 {
  position:absolute;
  left:77px;
  top:-5px;
  width:8px;
  height:9px;
}
#u55_seg2 {
  position:absolute;
  left:77px;
  top:-5px;
  width:18px;
  height:8px;
}
#u55_seg3 {
  position:absolute;
  left:83px;
  top:-10px;
  width:18px;
  height:18px;
}
#u56 {
  position:absolute;
  left:-2px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
}
#u57_div {
  position:absolute;
  left:0px;
  top:0px;
  width:202px;
  height:104px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u57 {
  position:absolute;
  left:1144px;
  top:231px;
  width:202px;
  height:104px;
}
#u58 {
  position:absolute;
  left:2px;
  top:28px;
  width:198px;
  word-wrap:break-word;
}
#u59 {
  position:absolute;
  left:1245px;
  top:438px;
  width:0px;
  height:0px;
  color:#000000;
}
#u59_seg0 {
  position:absolute;
  left:-4px;
  top:-103px;
  width:8px;
  height:107px;
}
#u59_seg1 {
  position:absolute;
  left:-9px;
  top:-109px;
  width:18px;
  height:18px;
}
#u60 {
  position:absolute;
  left:-50px;
  top:-60px;
  width:100px;
  word-wrap:break-word;
}
#u61 {
  position:absolute;
  left:1245px;
  top:583px;
  width:0px;
  height:0px;
  color:#000000;
}
#u61_seg0 {
  position:absolute;
  left:-33px;
  top:29px;
  width:66px;
  height:8px;
  -webkit-transform:rotate(270deg);
  -moz-transform:rotate(270deg);
  -ms-transform:rotate(270deg);
  transform:rotate(270deg);
}
#u61_seg1 {
  position:absolute;
  left:-9px;
  top:53px;
  width:18px;
  height:18px;
}
#u62 {
  position:absolute;
  left:-50px;
  top:25px;
  width:100px;
  word-wrap:break-word;
}
#u63 {
  position:absolute;
  left:1312px;
  top:689px;
  width:0px;
  height:0px;
  color:#000000;
}
#u63_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:212px;
  height:8px;
}
#u63_seg1 {
  position:absolute;
  left:204px;
  top:-515px;
  width:8px;
  height:519px;
}
#u63_seg2 {
  position:absolute;
  left:204px;
  top:-515px;
  width:18px;
  height:8px;
}
#u63_seg3 {
  position:absolute;
  left:210px;
  top:-520px;
  width:18px;
  height:18px;
}
#u64 {
  position:absolute;
  left:158px;
  top:-166px;
  width:100px;
  word-wrap:break-word;
}
