body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:2138px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1508 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1509_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2094px;
  height:717px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1509 {
  border-width:0px;
  position:absolute;
  left:44px;
  top:78px;
  width:2094px;
  height:717px;
}
#u1509_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1510_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:925px;
  height:571px;
  background:-webkit-linear-gradient(330deg, rgba(0, 187, 161, 1) 0%, rgba(0, 187, 161, 1) 0%, rgba(0, 187, 161, 1) 53%, rgba(0, 187, 161, 1) 100%, rgba(0, 187, 161, 1) 100%);
  background:-moz-linear-gradient(120deg, rgba(0, 187, 161, 1) 0%, rgba(0, 187, 161, 1) 0%, rgba(0, 187, 161, 1) 53%, rgba(0, 187, 161, 1) 100%, rgba(0, 187, 161, 1) 100%);
  background:linear-gradient(120deg, rgba(0, 187, 161, 1) 0%, rgba(0, 187, 161, 1) 0%, rgba(0, 187, 161, 1) 53%, rgba(0, 187, 161, 1) 100%, rgba(0, 187, 161, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1510 {
  border-width:0px;
  position:absolute;
  left:660px;
  top:143px;
  width:925px;
  height:571px;
}
#u1510_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1511_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:109px;
}
#u1511 {
  border-width:0px;
  position:absolute;
  left:152px;
  top:124px;
  width:67px;
  height:108px;
}
#u1511_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:46px;
  width:63px;
  word-wrap:break-word;
}
#u1512_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:54px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1512 {
  border-width:0px;
  position:absolute;
  left:315px;
  top:151px;
  width:134px;
  height:54px;
}
#u1512_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:19px;
  width:130px;
  word-wrap:break-word;
}
#u1513_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:54px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1513 {
  border-width:0px;
  position:absolute;
  left:588px;
  top:151px;
  width:134px;
  height:54px;
}
#u1513_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:19px;
  width:130px;
  word-wrap:break-word;
}
#u1514_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:54px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1514 {
  border-width:0px;
  position:absolute;
  left:1534px;
  top:151px;
  width:134px;
  height:54px;
}
#u1514_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:19px;
  width:130px;
  word-wrap:break-word;
}
#u1515 {
  border-width:0px;
  position:absolute;
  left:219px;
  top:178px;
  width:0px;
  height:0px;
  color:#000000;
}
#u1515_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:100px;
  height:8px;
}
#u1515_seg1 {
  border-width:0px;
  position:absolute;
  left:84px;
  top:-9px;
  width:18px;
  height:18px;
}
#u1515_text {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
}
#u1516 {
  border-width:0px;
  position:absolute;
  left:722px;
  top:178px;
  width:0px;
  height:0px;
  color:#000000;
}
#u1516_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:816px;
  height:8px;
}
#u1516_seg1 {
  border-width:0px;
  position:absolute;
  left:800px;
  top:-9px;
  width:18px;
  height:18px;
}
#u1516_text {
  border-width:0px;
  position:absolute;
  left:356px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
}
#u1517_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:54px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1517 {
  border-width:0px;
  position:absolute;
  left:701px;
  top:247px;
  width:127px;
  height:54px;
}
#u1517_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:19px;
  width:123px;
  word-wrap:break-word;
}
#u1518_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:98px;
}
#u1518 {
  border-width:0px;
  position:absolute;
  left:679px;
  top:338px;
  width:171px;
  height:98px;
}
#u1518_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:41px;
  width:167px;
  word-wrap:break-word;
}
#u1519_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:54px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1519 {
  border-width:0px;
  position:absolute;
  left:908px;
  top:247px;
  width:134px;
  height:54px;
}
#u1519_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:19px;
  width:130px;
  word-wrap:break-word;
}
#u1520_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:54px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1520 {
  border-width:0px;
  position:absolute;
  left:690px;
  top:485px;
  width:150px;
  height:54px;
}
#u1520_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:11px;
  width:146px;
  word-wrap:break-word;
}
#u1521 {
  border-width:0px;
  position:absolute;
  left:722px;
  top:178px;
  width:0px;
  height:0px;
  color:#000000;
}
#u1521_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:47px;
  height:8px;
}
#u1521_seg1 {
  border-width:0px;
  position:absolute;
  left:39px;
  top:-4px;
  width:8px;
  height:73px;
}
#u1521_seg2 {
  border-width:0px;
  position:absolute;
  left:34px;
  top:57px;
  width:18px;
  height:18px;
}
#u1521_text {
  border-width:0px;
  position:absolute;
  left:-7px;
  top:5px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1522 {
  border-width:0px;
  position:absolute;
  left:765px;
  top:301px;
  width:0px;
  height:0px;
  color:#000000;
}
#u1522_seg0 {
  border-width:0px;
  position:absolute;
  left:-19px;
  top:15px;
  width:38px;
  height:8px;
  -webkit-transform:rotate(270deg);
  -moz-transform:rotate(270deg);
  -ms-transform:rotate(270deg);
  transform:rotate(270deg);
}
#u1522_seg1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1522_seg2 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:25px;
  width:19px;
  height:18px;
  -webkit-transform:rotate(270deg);
  -moz-transform:rotate(270deg);
  -ms-transform:rotate(270deg);
  transform:rotate(270deg);
}
#u1522_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:11px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1523 {
  border-width:0px;
  position:absolute;
  left:765px;
  top:436px;
  width:0px;
  height:0px;
  color:#000000;
}
#u1523_seg0 {
  border-width:0px;
  position:absolute;
  left:-25px;
  top:20px;
  width:50px;
  height:8px;
  -webkit-transform:rotate(270deg);
  -moz-transform:rotate(270deg);
  -ms-transform:rotate(270deg);
  transform:rotate(270deg);
}
#u1523_seg1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1523_seg2 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:37px;
  width:19px;
  height:18px;
  -webkit-transform:rotate(270deg);
  -moz-transform:rotate(270deg);
  -ms-transform:rotate(270deg);
  transform:rotate(270deg);
}
#u1523_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:17px;
  width:100px;
  word-wrap:break-word;
}
#u1524 {
  border-width:0px;
  position:absolute;
  left:850px;
  top:387px;
  width:0px;
  height:0px;
  color:#000000;
}
#u1524_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:44px;
  height:8px;
}
#u1524_seg1 {
  border-width:0px;
  position:absolute;
  left:36px;
  top:-117px;
  width:8px;
  height:121px;
}
#u1524_seg2 {
  border-width:0px;
  position:absolute;
  left:36px;
  top:-117px;
  width:22px;
  height:8px;
}
#u1524_seg3 {
  border-width:0px;
  position:absolute;
  left:46px;
  top:-122px;
  width:18px;
  height:18px;
}
#u1524_text {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:-54px;
  width:100px;
  word-wrap:break-word;
}
#u1525_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:54px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1525 {
  border-width:0px;
  position:absolute;
  left:908px;
  top:382px;
  width:134px;
  height:54px;
}
#u1525_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:19px;
  width:130px;
  word-wrap:break-word;
}
#u1526_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:98px;
}
#u1526 {
  border-width:0px;
  position:absolute;
  left:888px;
  top:463px;
  width:171px;
  height:98px;
}
#u1526_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:41px;
  width:167px;
  word-wrap:break-word;
}
#u1527_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:182px;
  height:145px;
}
#u1527 {
  border-width:0px;
  position:absolute;
  left:1154px;
  top:438px;
  width:182px;
  height:145px;
}
#u1527_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:48px;
  width:178px;
  word-wrap:break-word;
}
#u1528_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:194px;
  height:54px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1528 {
  border-width:0px;
  position:absolute;
  left:877px;
  top:605px;
  width:194px;
  height:54px;
}
#u1528_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:19px;
  width:190px;
  word-wrap:break-word;
}
#u1529 {
  border-width:0px;
  position:absolute;
  left:975px;
  top:301px;
  width:0px;
  height:0px;
  color:#000000;
}
#u1529_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:85px;
}
#u1529_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:69px;
  width:18px;
  height:18px;
}
#u1529_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:32px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1530 {
  border-width:0px;
  position:absolute;
  left:975px;
  top:436px;
  width:0px;
  height:0px;
  color:#000000;
}
#u1530_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:18px;
}
#u1530_seg1 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:10px;
  width:9px;
  height:8px;
}
#u1530_seg2 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:10px;
  width:8px;
  height:17px;
}
#u1530_seg3 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:15px;
  width:18px;
  height:18px;
}
#u1530_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:6px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1531 {
  border-width:0px;
  position:absolute;
  left:974px;
  top:561px;
  width:0px;
  height:0px;
  color:#000000;
}
#u1531_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:48px;
}
#u1531_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:32px;
  width:18px;
  height:18px;
}
#u1531_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:14px;
  width:100px;
  word-wrap:break-word;
}
#u1532 {
  border-width:0px;
  position:absolute;
  left:1059px;
  top:512px;
  width:0px;
  height:0px;
  color:#000000;
}
#u1532_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:85px;
  height:8px;
}
#u1532_seg1 {
  border-width:0px;
  position:absolute;
  left:77px;
  top:-5px;
  width:8px;
  height:9px;
}
#u1532_seg2 {
  border-width:0px;
  position:absolute;
  left:77px;
  top:-5px;
  width:18px;
  height:8px;
}
#u1532_seg3 {
  border-width:0px;
  position:absolute;
  left:83px;
  top:-10px;
  width:18px;
  height:18px;
}
#u1532_text {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
}
#u1533_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:202px;
  height:104px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1533 {
  border-width:0px;
  position:absolute;
  left:1144px;
  top:231px;
  width:202px;
  height:104px;
}
#u1533_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:28px;
  width:198px;
  word-wrap:break-word;
}
#u1534 {
  border-width:0px;
  position:absolute;
  left:1245px;
  top:438px;
  width:0px;
  height:0px;
  color:#000000;
}
#u1534_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-103px;
  width:8px;
  height:107px;
}
#u1534_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:-109px;
  width:18px;
  height:18px;
}
#u1534_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:-60px;
  width:100px;
  word-wrap:break-word;
}
#u1535 {
  border-width:0px;
  position:absolute;
  left:1144px;
  top:283px;
  width:0px;
  height:0px;
  color:#000000;
}
#u1535_seg0 {
  border-width:0px;
  position:absolute;
  left:-14px;
  top:-4px;
  width:14px;
  height:8px;
}
#u1535_seg1 {
  border-width:0px;
  position:absolute;
  left:-14px;
  top:-4px;
  width:8px;
  height:134px;
}
#u1535_seg2 {
  border-width:0px;
  position:absolute;
  left:-102px;
  top:122px;
  width:96px;
  height:8px;
}
#u1535_seg3 {
  border-width:0px;
  position:absolute;
  left:-108px;
  top:117px;
  width:18px;
  height:18px;
}
#u1535_text {
  border-width:0px;
  position:absolute;
  left:-60px;
  top:96px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1536 {
  border-width:0px;
  position:absolute;
  left:449px;
  top:178px;
  width:0px;
  height:0px;
  color:#000000;
}
#u1536_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:143px;
  height:8px;
}
#u1536_seg1 {
  border-width:0px;
  position:absolute;
  left:127px;
  top:-9px;
  width:18px;
  height:18px;
}
#u1536_text {
  border-width:0px;
  position:absolute;
  left:20px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
}
#u1537 {
  border-width:0px;
  position:absolute;
  left:1336px;
  top:511px;
  width:0px;
  height:0px;
  font-size:20px;
  color:#000000;
}
#u1537_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:188px;
  height:8px;
}
#u1537_seg1 {
  border-width:0px;
  position:absolute;
  left:180px;
  top:-337px;
  width:8px;
  height:341px;
}
#u1537_seg2 {
  border-width:0px;
  position:absolute;
  left:180px;
  top:-337px;
  width:18px;
  height:8px;
}
#u1537_seg3 {
  border-width:0px;
  position:absolute;
  left:186px;
  top:-342px;
  width:18px;
  height:18px;
}
#u1537_text {
  border-width:0px;
  position:absolute;
  left:134px;
  top:-94px;
  width:100px;
  word-wrap:break-word;
}
