body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:2094px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2253_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2084px;
  height:5716px;
}
#u2253 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:904px;
  width:2084px;
  height:5716px;
}
#u2253_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
