body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1480px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u205_div {
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:1306px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u205 {
  position:absolute;
  left:46px;
  top:21px;
  width:750px;
  height:1306px;
}
#u206 {
  position:absolute;
  left:2px;
  top:645px;
  width:746px;
  visibility:hidden;
  word-wrap:break-word;
}
#u207_img {
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:40px;
}
#u207 {
  position:absolute;
  left:46px;
  top:21px;
  width:750px;
  height:40px;
  color:transparent;
}
#u208 {
  position:absolute;
  left:2px;
  top:12px;
  width:746px;
  visibility:hidden;
  word-wrap:break-word;
}
#u209_img {
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:88px;
}
#u209 {
  position:absolute;
  left:46px;
  top:61px;
  width:750px;
  height:88px;
}
#u210 {
  position:absolute;
  left:2px;
  top:36px;
  width:746px;
  visibility:hidden;
  word-wrap:break-word;
}
#u211_img {
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:38px;
}
#u211 {
  position:absolute;
  left:365px;
  top:22px;
  width:112px;
  height:38px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u212 {
  position:absolute;
  left:2px;
  top:7px;
  width:108px;
  word-wrap:break-word;
}
#u213_img {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:28px;
}
#u213 {
  position:absolute;
  left:713px;
  top:27px;
  width:71px;
  height:28px;
}
#u214 {
  position:absolute;
  left:2px;
  top:6px;
  width:67px;
  visibility:hidden;
  word-wrap:break-word;
}
#u215_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:28px;
}
#u215 {
  position:absolute;
  left:58px;
  top:27px;
  width:28px;
  height:28px;
}
#u216 {
  position:absolute;
  left:2px;
  top:6px;
  width:24px;
  visibility:hidden;
  word-wrap:break-word;
}
#u217_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:28px;
}
#u217 {
  position:absolute;
  left:86px;
  top:27px;
  width:28px;
  height:28px;
}
#u218 {
  position:absolute;
  left:2px;
  top:6px;
  width:24px;
  visibility:hidden;
  word-wrap:break-word;
}
#u219_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:28px;
}
#u219 {
  position:absolute;
  left:114px;
  top:27px;
  width:28px;
  height:28px;
}
#u220 {
  position:absolute;
  left:2px;
  top:6px;
  width:24px;
  visibility:hidden;
  word-wrap:break-word;
}
#u221_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:28px;
}
#u221 {
  position:absolute;
  left:142px;
  top:27px;
  width:28px;
  height:28px;
}
#u222 {
  position:absolute;
  left:2px;
  top:6px;
  width:24px;
  visibility:hidden;
  word-wrap:break-word;
}
#u223_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:28px;
}
#u223 {
  position:absolute;
  left:170px;
  top:27px;
  width:28px;
  height:28px;
}
#u224 {
  position:absolute;
  left:2px;
  top:6px;
  width:24px;
  visibility:hidden;
  word-wrap:break-word;
}
#u225_img {
  position:absolute;
  left:0px;
  top:0px;
  width:296px;
  height:50px;
}
#u225 {
  position:absolute;
  left:273px;
  top:80px;
  width:296px;
  height:50px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:34px;
}
#u226 {
  position:absolute;
  left:2px;
  top:5px;
  width:292px;
  word-wrap:break-word;
}
#u227_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u227 {
  position:absolute;
  left:734px;
  top:80px;
  width:50px;
  height:50px;
  -webkit-transform:rotate(270deg);
  -moz-transform:rotate(270deg);
  -ms-transform:rotate(270deg);
  transform:rotate(270deg);
}
#u228 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u229_div {
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:1186px;
  background:inherit;
  background-color:rgba(228, 228, 228, 0.27843137254902);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u229 {
  position:absolute;
  left:46px;
  top:141px;
  width:750px;
  height:1186px;
}
#u230 {
  position:absolute;
  left:2px;
  top:585px;
  width:746px;
  visibility:hidden;
  word-wrap:break-word;
}
#u231_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u231 {
  position:absolute;
  left:58px;
  top:80px;
  width:50px;
  height:50px;
}
#u232 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u233_div {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:60px;
  background:-webkit-linear-gradient(330deg, rgba(0, 187, 161, 1) 0%, rgba(0, 187, 161, 1) 0%, rgba(0, 187, 161, 1) 53%, rgba(0, 187, 161, 1) 100%, rgba(0, 187, 161, 1) 100%);
  background:-moz-linear-gradient(120deg, rgba(0, 187, 161, 1) 0%, rgba(0, 187, 161, 1) 0%, rgba(0, 187, 161, 1) 53%, rgba(0, 187, 161, 1) 100%, rgba(0, 187, 161, 1) 100%);
  background:linear-gradient(120deg, rgba(0, 187, 161, 1) 0%, rgba(0, 187, 161, 1) 0%, rgba(0, 187, 161, 1) 53%, rgba(0, 187, 161, 1) 100%, rgba(0, 187, 161, 1) 100%);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:34px;
}
#u233 {
  position:absolute;
  left:307px;
  top:1232px;
  width:210px;
  height:60px;
  font-size:34px;
}
#u234 {
  position:absolute;
  left:2px;
  top:10px;
  width:206px;
  word-wrap:break-word;
}
#u235 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u236_img {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:52px;
}
#u236 {
  position:absolute;
  left:148px;
  top:767px;
  width:105px;
  height:52px;
  font-size:24px;
}
#u237 {
  position:absolute;
  left:2px;
  top:12px;
  width:101px;
  word-wrap:break-word;
}
#u238_img {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:52px;
}
#u238 {
  position:absolute;
  left:148px;
  top:824px;
  width:105px;
  height:52px;
  font-size:24px;
}
#u239 {
  position:absolute;
  left:2px;
  top:12px;
  width:101px;
  word-wrap:break-word;
}
#u240 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u241_div {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u241 {
  position:absolute;
  left:263px;
  top:773px;
  width:210px;
  height:40px;
  font-size:20px;
}
#u242 {
  position:absolute;
  left:2px;
  top:12px;
  width:206px;
  visibility:hidden;
  word-wrap:break-word;
}
#u243 {
  position:absolute;
  left:268px;
  top:776px;
  width:201px;
  height:35px;
}
#u243_input {
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:35px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u244 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u245_div {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u245 {
  position:absolute;
  left:263px;
  top:827px;
  width:210px;
  height:40px;
  font-size:20px;
}
#u246 {
  position:absolute;
  left:2px;
  top:12px;
  width:206px;
  visibility:hidden;
  word-wrap:break-word;
}
#u247 {
  position:absolute;
  left:268px;
  top:830px;
  width:201px;
  height:35px;
}
#u247_input {
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:35px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u248_div {
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:40px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u248 {
  position:absolute;
  left:483px;
  top:773px;
  width:122px;
  height:40px;
  font-size:20px;
}
#u249 {
  position:absolute;
  left:2px;
  top:8px;
  width:118px;
  word-wrap:break-word;
}
#u250_div {
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:40px;
  background:inherit;
  background-color:rgba(0, 187, 161, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u250 {
  position:absolute;
  left:483px;
  top:773px;
  width:122px;
  height:40px;
  font-size:20px;
}
#u251 {
  position:absolute;
  left:2px;
  top:8px;
  width:118px;
  word-wrap:break-word;
}
#u252_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:52px;
}
#u252 {
  position:absolute;
  left:148px;
  top:553px;
  width:200px;
  height:52px;
  font-size:24px;
  text-align:left;
}
#u253 {
  position:absolute;
  left:2px;
  top:12px;
  width:196px;
  word-wrap:break-word;
}
#u254 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u255_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
}
#u255 {
  position:absolute;
  left:316px;
  top:185px;
  width:60px;
  height:60px;
}
#u256 {
  position:absolute;
  left:2px;
  top:22px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u257_img {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:60px;
}
#u257 {
  position:absolute;
  left:386px;
  top:185px;
  width:141px;
  height:60px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:45px;
  color:#00BBA1;
}
#u258 {
  position:absolute;
  left:2px;
  top:4px;
  width:137px;
  word-wrap:break-word;
}
#u259_img {
  position:absolute;
  left:0px;
  top:0px;
  width:277px;
  height:58px;
}
#u259 {
  position:absolute;
  left:86px;
  top:905px;
  width:277px;
  height:58px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:30px;
  text-align:left;
}
#u260 {
  position:absolute;
  left:2px;
  top:11px;
  width:273px;
  word-wrap:break-word;
}
#u261_img {
  position:absolute;
  left:0px;
  top:0px;
  width:651px;
  height:77px;
}
#u261 {
  position:absolute;
  left:86px;
  top:955px;
  width:651px;
  height:77px;
  font-size:20px;
  color:#999999;
  text-align:left;
}
#u262 {
  position:absolute;
  left:2px;
  top:14px;
  width:647px;
  word-wrap:break-word;
}
#u263_img {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:85px;
}
#u263 {
  position:absolute;
  left:243px;
  top:1042px;
  width:85px;
  height:85px;
}
#u264 {
  position:absolute;
  left:2px;
  top:34px;
  width:81px;
  visibility:hidden;
  word-wrap:break-word;
}
#u265_img {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:85px;
}
#u265 {
  position:absolute;
  left:148px;
  top:1042px;
  width:85px;
  height:85px;
}
#u266 {
  position:absolute;
  left:2px;
  top:34px;
  width:81px;
  visibility:hidden;
  word-wrap:break-word;
}
#u267_img {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:52px;
}
#u267 {
  position:absolute;
  left:148px;
  top:705px;
  width:105px;
  height:52px;
  font-size:24px;
  text-align:left;
}
#u268 {
  position:absolute;
  left:2px;
  top:12px;
  width:101px;
  word-wrap:break-word;
}
#u269 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u270_div {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u270 {
  position:absolute;
  left:263px;
  top:711px;
  width:210px;
  height:40px;
  font-size:20px;
}
#u271 {
  position:absolute;
  left:2px;
  top:12px;
  width:206px;
  visibility:hidden;
  word-wrap:break-word;
}
#u272 {
  position:absolute;
  left:268px;
  top:714px;
  width:201px;
  height:35px;
}
#u272_input {
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:35px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u273_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u273 {
  position:absolute;
  left:171px;
  top:1065px;
  width:40px;
  height:40px;
}
#u274 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u275_img {
  position:absolute;
  left:0px;
  top:0px;
  width:679px;
  height:50px;
}
#u275 {
  position:absolute;
  left:86px;
  top:271px;
  width:679px;
  height:50px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:left;
}
#u276 {
  position:absolute;
  left:2px;
  top:12px;
  width:675px;
  word-wrap:break-word;
}
#u277 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u278 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u279_div {
  position:absolute;
  left:0px;
  top:0px;
  width:357px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#CCCCCC;
}
#u279 {
  position:absolute;
  left:290px;
  top:436px;
  width:357px;
  height:40px;
  font-size:20px;
  color:#CCCCCC;
}
#u280 {
  position:absolute;
  left:2px;
  top:12px;
  width:353px;
  visibility:hidden;
  word-wrap:break-word;
}
#u281 {
  position:absolute;
  left:293px;
  top:438px;
  width:350px;
  height:36px;
}
#u281_input {
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:36px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  text-decoration:none;
  color:#CCCCCC;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u282_img {
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  height:40px;
}
#u282 {
  position:absolute;
  left:148px;
  top:436px;
  width:157px;
  height:40px;
  font-size:24px;
  color:#CCCCCC;
  text-align:left;
}
#u283 {
  position:absolute;
  left:2px;
  top:6px;
  width:153px;
  word-wrap:break-word;
}
#u284 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u285_img {
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:40px;
}
#u285 {
  position:absolute;
  left:152px;
  top:384px;
  width:153px;
  height:40px;
  font-size:24px;
  color:#CCCCCC;
  text-align:left;
}
#u285_img.selected {
}
#u285.selected {
}
#u286 {
  position:absolute;
  left:2px;
  top:6px;
  width:149px;
  word-wrap:break-word;
}
#u287 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u288_div {
  position:absolute;
  left:0px;
  top:0px;
  width:357px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#CCCCCC;
}
#u288 {
  position:absolute;
  left:290px;
  top:384px;
  width:357px;
  height:40px;
  font-size:20px;
  color:#CCCCCC;
}
#u289 {
  position:absolute;
  left:2px;
  top:12px;
  width:353px;
  visibility:hidden;
  word-wrap:break-word;
}
#u290 {
  position:absolute;
  left:293px;
  top:386px;
  width:350px;
  height:36px;
}
#u290_input {
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:36px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  text-decoration:none;
  color:#CCCCCC;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u291 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u292_img {
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:40px;
}
#u292 {
  position:absolute;
  left:148px;
  top:331px;
  width:176px;
  height:40px;
  font-size:24px;
  text-align:left;
}
#u293 {
  position:absolute;
  left:2px;
  top:6px;
  width:172px;
  word-wrap:break-word;
}
#u294 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u295_div {
  position:absolute;
  left:0px;
  top:0px;
  width:331px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#CCCCCC;
}
#u295 {
  position:absolute;
  left:316px;
  top:331px;
  width:331px;
  height:40px;
  font-size:20px;
  color:#CCCCCC;
}
#u296 {
  position:absolute;
  left:2px;
  top:12px;
  width:327px;
  visibility:hidden;
  word-wrap:break-word;
}
#u297 {
  position:absolute;
  left:319px;
  top:333px;
  width:325px;
  height:36px;
}
#u297_input {
  position:absolute;
  left:0px;
  top:0px;
  width:325px;
  height:36px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  text-decoration:none;
  color:#CCCCCC;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u298_img {
  position:absolute;
  left:0px;
  top:0px;
  width:679px;
  height:50px;
}
#u298 {
  position:absolute;
  left:86px;
  top:624px;
  width:679px;
  height:50px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:left;
}
#u299 {
  position:absolute;
  left:2px;
  top:12px;
  width:675px;
  word-wrap:break-word;
}
#u300 {
  position:absolute;
  left:358px;
  top:567px;
  width:41px;
  height:24px;
  font-size:20px;
  text-align:center;
}
#u301 {
  position:absolute;
  left:16px;
  top:0px;
  width:23px;
  word-wrap:break-word;
}
#u300_input {
  position:absolute;
  left:-3px;
  top:1px;
}
#u302 {
  position:absolute;
  left:445px;
  top:567px;
  width:41px;
  height:24px;
  font-size:20px;
  text-align:center;
}
#u303 {
  position:absolute;
  left:16px;
  top:0px;
  width:23px;
  word-wrap:break-word;
}
#u302_input {
  position:absolute;
  left:-3px;
  top:1px;
}
#u304 {
  position:absolute;
  left:86px;
  top:1158px;
  width:424px;
  height:24px;
  font-size:20px;
  text-align:center;
}
#u305 {
  position:absolute;
  left:16px;
  top:0px;
  width:406px;
  word-wrap:break-word;
}
#u304_input {
  position:absolute;
  left:-3px;
  top:1px;
}
#u306 {
  position:absolute;
  left:153px;
  top:373px;
  width:611px;
  height:453px;
  overflow:hidden;
  visibility:hidden;
}
#u306_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:611px;
  height:453px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-color:rgba(204, 204, 204, 0.458823529411765);
  background-image:none;
}
#u306_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u307_img {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:50px;
}
#u307 {
  position:absolute;
  left:9px;
  top:10px;
  width:113px;
  height:50px;
  font-size:30px;
}
#u308 {
  position:absolute;
  left:2px;
  top:7px;
  width:109px;
  word-wrap:break-word;
}
#u309_img {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:50px;
}
#u309 {
  position:absolute;
  left:130px;
  top:10px;
  width:113px;
  height:50px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:30px;
  color:#00BBA1;
}
#u310 {
  position:absolute;
  left:2px;
  top:7px;
  width:109px;
  word-wrap:break-word;
}
#u311_img {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:50px;
}
#u311 {
  position:absolute;
  left:250px;
  top:10px;
  width:113px;
  height:50px;
  font-size:30px;
}
#u312 {
  position:absolute;
  left:2px;
  top:7px;
  width:109px;
  word-wrap:break-word;
}
#u313_img {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:50px;
}
#u313 {
  position:absolute;
  left:371px;
  top:10px;
  width:113px;
  height:50px;
  font-size:30px;
}
#u314 {
  position:absolute;
  left:2px;
  top:7px;
  width:109px;
  word-wrap:break-word;
}
#u315_img {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:50px;
}
#u315 {
  position:absolute;
  left:491px;
  top:10px;
  width:113px;
  height:50px;
  font-size:30px;
}
#u316 {
  position:absolute;
  left:2px;
  top:7px;
  width:109px;
  word-wrap:break-word;
}
#u317_img {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:50px;
}
#u317 {
  position:absolute;
  left:9px;
  top:73px;
  width:113px;
  height:50px;
  font-size:30px;
}
#u318 {
  position:absolute;
  left:2px;
  top:7px;
  width:109px;
  word-wrap:break-word;
}
#u319_img {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:50px;
}
#u319 {
  position:absolute;
  left:132px;
  top:73px;
  width:113px;
  height:50px;
  font-size:30px;
}
#u320 {
  position:absolute;
  left:2px;
  top:7px;
  width:109px;
  word-wrap:break-word;
}
#u321_img {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:50px;
}
#u321 {
  position:absolute;
  left:252px;
  top:73px;
  width:113px;
  height:50px;
  font-size:30px;
}
#u322 {
  position:absolute;
  left:2px;
  top:7px;
  width:109px;
  word-wrap:break-word;
}
#u323_img {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:50px;
}
#u323 {
  position:absolute;
  left:373px;
  top:73px;
  width:113px;
  height:50px;
  font-size:30px;
}
#u324 {
  position:absolute;
  left:2px;
  top:7px;
  width:109px;
  word-wrap:break-word;
}
#u325_img {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:50px;
}
#u325 {
  position:absolute;
  left:493px;
  top:73px;
  width:113px;
  height:50px;
  font-size:30px;
}
#u326 {
  position:absolute;
  left:2px;
  top:7px;
  width:109px;
  word-wrap:break-word;
}
#u327_img {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:50px;
}
#u327 {
  position:absolute;
  left:9px;
  top:136px;
  width:113px;
  height:50px;
  font-size:30px;
}
#u328 {
  position:absolute;
  left:2px;
  top:7px;
  width:109px;
  word-wrap:break-word;
}
#u329_img {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:50px;
}
#u329 {
  position:absolute;
  left:132px;
  top:136px;
  width:113px;
  height:50px;
  font-size:30px;
}
#u330 {
  position:absolute;
  left:2px;
  top:7px;
  width:109px;
  word-wrap:break-word;
}
#u331_img {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:50px;
}
#u331 {
  position:absolute;
  left:252px;
  top:136px;
  width:113px;
  height:50px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:30px;
  color:#00BBA1;
}
#u332 {
  position:absolute;
  left:2px;
  top:7px;
  width:109px;
  word-wrap:break-word;
}
#u333_img {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:50px;
}
#u333 {
  position:absolute;
  left:373px;
  top:136px;
  width:113px;
  height:50px;
  font-size:30px;
}
#u334 {
  position:absolute;
  left:2px;
  top:7px;
  width:109px;
  word-wrap:break-word;
}
#u335_img {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:50px;
}
#u335 {
  position:absolute;
  left:493px;
  top:136px;
  width:113px;
  height:50px;
  font-size:30px;
}
#u336 {
  position:absolute;
  left:2px;
  top:7px;
  width:109px;
  word-wrap:break-word;
}
#u337_img {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:50px;
}
#u337 {
  position:absolute;
  left:9px;
  top:199px;
  width:113px;
  height:50px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:30px;
  color:#00BBA1;
}
#u338 {
  position:absolute;
  left:2px;
  top:7px;
  width:109px;
  word-wrap:break-word;
}
#u339_img {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:50px;
}
#u339 {
  position:absolute;
  left:130px;
  top:199px;
  width:113px;
  height:50px;
  font-size:30px;
}
#u340 {
  position:absolute;
  left:2px;
  top:7px;
  width:109px;
  word-wrap:break-word;
}
#u341_img {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:50px;
}
#u341 {
  position:absolute;
  left:250px;
  top:199px;
  width:113px;
  height:50px;
  font-size:30px;
}
#u342 {
  position:absolute;
  left:2px;
  top:7px;
  width:109px;
  word-wrap:break-word;
}
#u343_img {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:50px;
}
#u343 {
  position:absolute;
  left:371px;
  top:199px;
  width:113px;
  height:50px;
  font-size:30px;
}
#u344 {
  position:absolute;
  left:2px;
  top:7px;
  width:109px;
  word-wrap:break-word;
}
#u345_img {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:50px;
}
#u345 {
  position:absolute;
  left:491px;
  top:199px;
  width:113px;
  height:50px;
  font-size:30px;
}
#u346 {
  position:absolute;
  left:2px;
  top:7px;
  width:109px;
  word-wrap:break-word;
}
#u347_img {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:50px;
}
#u347 {
  position:absolute;
  left:9px;
  top:262px;
  width:113px;
  height:50px;
  font-size:30px;
}
#u348 {
  position:absolute;
  left:2px;
  top:7px;
  width:109px;
  word-wrap:break-word;
}
#u349_img {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:50px;
}
#u349 {
  position:absolute;
  left:130px;
  top:262px;
  width:113px;
  height:50px;
  font-size:30px;
}
#u350 {
  position:absolute;
  left:2px;
  top:7px;
  width:109px;
  word-wrap:break-word;
}
#u351_img {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:50px;
}
#u351 {
  position:absolute;
  left:250px;
  top:262px;
  width:113px;
  height:50px;
  font-size:30px;
}
#u352 {
  position:absolute;
  left:2px;
  top:7px;
  width:109px;
  word-wrap:break-word;
}
#u353_img {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:50px;
}
#u353 {
  position:absolute;
  left:371px;
  top:262px;
  width:113px;
  height:50px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:30px;
  color:#00BBA1;
}
#u354 {
  position:absolute;
  left:2px;
  top:7px;
  width:109px;
  word-wrap:break-word;
}
#u355_img {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:50px;
}
#u355 {
  position:absolute;
  left:491px;
  top:262px;
  width:113px;
  height:50px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:30px;
  color:#00BBA1;
}
#u356 {
  position:absolute;
  left:2px;
  top:7px;
  width:109px;
  word-wrap:break-word;
}
#u357_img {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:50px;
}
#u357 {
  position:absolute;
  left:9px;
  top:325px;
  width:113px;
  height:50px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:30px;
  color:#00BBA1;
}
#u358 {
  position:absolute;
  left:2px;
  top:7px;
  width:109px;
  word-wrap:break-word;
}
#u359_img {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:50px;
}
#u359 {
  position:absolute;
  left:130px;
  top:325px;
  width:113px;
  height:50px;
  font-size:30px;
}
#u360 {
  position:absolute;
  left:2px;
  top:7px;
  width:109px;
  word-wrap:break-word;
}
#u361_img {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:50px;
}
#u361 {
  position:absolute;
  left:250px;
  top:325px;
  width:113px;
  height:50px;
  font-size:30px;
}
#u362 {
  position:absolute;
  left:2px;
  top:7px;
  width:109px;
  word-wrap:break-word;
}
#u363_img {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:50px;
}
#u363 {
  position:absolute;
  left:371px;
  top:325px;
  width:113px;
  height:50px;
  font-size:30px;
}
#u364 {
  position:absolute;
  left:2px;
  top:7px;
  width:109px;
  word-wrap:break-word;
}
#u365_img {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:50px;
}
#u365 {
  position:absolute;
  left:491px;
  top:325px;
  width:113px;
  height:50px;
  font-size:30px;
}
#u366 {
  position:absolute;
  left:2px;
  top:7px;
  width:109px;
  word-wrap:break-word;
}
#u367_img {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:50px;
}
#u367 {
  position:absolute;
  left:9px;
  top:388px;
  width:113px;
  height:50px;
  font-size:30px;
}
#u368 {
  position:absolute;
  left:2px;
  top:7px;
  width:109px;
  word-wrap:break-word;
}
#u369_img {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:50px;
}
#u369 {
  position:absolute;
  left:132px;
  top:388px;
  width:113px;
  height:50px;
  font-size:30px;
}
#u370 {
  position:absolute;
  left:2px;
  top:7px;
  width:109px;
  word-wrap:break-word;
}
#u371 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u372_img {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:52px;
}
#u372 {
  position:absolute;
  left:148px;
  top:489px;
  width:130px;
  height:52px;
  font-size:24px;
  color:#CCCCCC;
  text-align:left;
}
#u373 {
  position:absolute;
  left:2px;
  top:12px;
  width:126px;
  word-wrap:break-word;
}
#u374 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u375_div {
  position:absolute;
  left:0px;
  top:0px;
  width:357px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#CCCCCC;
}
#u375 {
  position:absolute;
  left:288px;
  top:495px;
  width:357px;
  height:40px;
  font-size:20px;
  color:#CCCCCC;
}
#u376 {
  position:absolute;
  left:2px;
  top:12px;
  width:353px;
  visibility:hidden;
  word-wrap:break-word;
}
#u377 {
  position:absolute;
  left:291px;
  top:497px;
  width:350px;
  height:36px;
}
#u377_input {
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:36px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  text-decoration:none;
  color:#CCCCCC;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u378 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u379_div {
  position:absolute;
  left:0px;
  top:0px;
  width:331px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#CCCCCC;
}
#u379 {
  position:absolute;
  left:316px;
  top:331px;
  width:331px;
  height:40px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#CCCCCC;
}
#u380 {
  position:absolute;
  left:2px;
  top:12px;
  width:327px;
  visibility:hidden;
  word-wrap:break-word;
}
#u381 {
  position:absolute;
  left:319px;
  top:333px;
  width:325px;
  height:36px;
}
#u381_input {
  position:absolute;
  left:0px;
  top:0px;
  width:325px;
  height:36px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u382 {
  position:absolute;
  left:153px;
  top:429px;
  width:607px;
  height:885px;
  overflow:hidden;
  visibility:hidden;
}
#u382_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:607px;
  height:885px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u382_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u383_img {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:50px;
}
#u383 {
  position:absolute;
  left:0px;
  top:10px;
  width:126px;
  height:50px;
  font-size:30px;
  color:#999999;
}
#u384 {
  position:absolute;
  left:2px;
  top:7px;
  width:122px;
  word-wrap:break-word;
}
#u385_img {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:50px;
}
#u385 {
  position:absolute;
  left:9px;
  top:270px;
  width:113px;
  height:50px;
  font-size:30px;
  color:#999999;
}
#u386 {
  position:absolute;
  left:2px;
  top:7px;
  width:109px;
  word-wrap:break-word;
}
#u387_img {
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  height:50px;
}
#u387 {
  position:absolute;
  left:9px;
  top:505px;
  width:137px;
  height:50px;
  font-size:30px;
  color:#999999;
}
#u388 {
  position:absolute;
  left:2px;
  top:7px;
  width:133px;
  word-wrap:break-word;
}
#u389_img {
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:50px;
}
#u389 {
  position:absolute;
  left:33px;
  top:70px;
  width:135px;
  height:50px;
  font-size:24px;
  color:#999999;
  text-align:left;
}
#u390 {
  position:absolute;
  left:2px;
  top:11px;
  width:131px;
  word-wrap:break-word;
}
#u391_img {
  position:absolute;
  left:0px;
  top:0px;
  width:209px;
  height:50px;
}
#u391 {
  position:absolute;
  left:239px;
  top:190px;
  width:209px;
  height:50px;
  font-size:24px;
  color:#999999;
  text-align:left;
}
#u392 {
  position:absolute;
  left:2px;
  top:11px;
  width:205px;
  word-wrap:break-word;
}
#u393_img {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:50px;
}
#u393 {
  position:absolute;
  left:33px;
  top:130px;
  width:155px;
  height:50px;
  font-size:24px;
  color:#999999;
  text-align:left;
}
#u394 {
  position:absolute;
  left:2px;
  top:11px;
  width:151px;
  word-wrap:break-word;
}
#u395_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:50px;
}
#u395 {
  position:absolute;
  left:445px;
  top:70px;
  width:150px;
  height:50px;
  font-size:24px;
  color:#999999;
  text-align:left;
}
#u396 {
  position:absolute;
  left:2px;
  top:11px;
  width:146px;
  word-wrap:break-word;
}
#u397_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:50px;
}
#u397 {
  position:absolute;
  left:244px;
  top:70px;
  width:100px;
  height:50px;
  font-size:24px;
  color:#999999;
  text-align:left;
}
#u398 {
  position:absolute;
  left:2px;
  top:11px;
  width:96px;
  word-wrap:break-word;
}
#u399_img {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:50px;
}
#u399 {
  position:absolute;
  left:445px;
  top:130px;
  width:155px;
  height:50px;
  font-size:24px;
  color:#999999;
  text-align:left;
}
#u400 {
  position:absolute;
  left:2px;
  top:11px;
  width:151px;
  word-wrap:break-word;
}
#u401_img {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:50px;
}
#u401 {
  position:absolute;
  left:239px;
  top:130px;
  width:155px;
  height:50px;
  font-size:24px;
  color:#999999;
  text-align:left;
}
#u402 {
  position:absolute;
  left:2px;
  top:11px;
  width:151px;
  word-wrap:break-word;
}
#u403_img {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:50px;
}
#u403 {
  position:absolute;
  left:33px;
  top:339px;
  width:155px;
  height:50px;
  font-size:24px;
  color:#999999;
  text-align:left;
}
#u404 {
  position:absolute;
  left:2px;
  top:11px;
  width:151px;
  word-wrap:break-word;
}
#u405_img {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:50px;
}
#u405 {
  position:absolute;
  left:33px;
  top:190px;
  width:155px;
  height:50px;
  font-size:24px;
  color:#999999;
  text-align:left;
}
#u406 {
  position:absolute;
  left:2px;
  top:11px;
  width:151px;
  word-wrap:break-word;
}
#u407_img {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:50px;
}
#u407 {
  position:absolute;
  left:445px;
  top:339px;
  width:155px;
  height:50px;
  font-size:24px;
  color:#999999;
  text-align:left;
}
#u408 {
  position:absolute;
  left:2px;
  top:11px;
  width:151px;
  word-wrap:break-word;
}
#u409_img {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:50px;
}
#u409 {
  position:absolute;
  left:33px;
  top:399px;
  width:155px;
  height:50px;
  font-size:24px;
  color:#999999;
  text-align:left;
}
#u410 {
  position:absolute;
  left:2px;
  top:11px;
  width:151px;
  word-wrap:break-word;
}
#u411_img {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:50px;
}
#u411 {
  position:absolute;
  left:33px;
  top:565px;
  width:155px;
  height:50px;
  font-size:24px;
  color:#999999;
  text-align:left;
}
#u412 {
  position:absolute;
  left:2px;
  top:11px;
  width:151px;
  word-wrap:break-word;
}
#u413_img {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:50px;
}
#u413 {
  position:absolute;
  left:33px;
  top:625px;
  width:155px;
  height:50px;
  font-size:24px;
  color:#999999;
  text-align:left;
}
#u414 {
  position:absolute;
  left:2px;
  top:11px;
  width:151px;
  word-wrap:break-word;
}
#u415_img {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:50px;
}
#u415 {
  position:absolute;
  left:244px;
  top:565px;
  width:155px;
  height:50px;
  font-size:24px;
  color:#999999;
  text-align:left;
}
#u416 {
  position:absolute;
  left:2px;
  top:11px;
  width:151px;
  word-wrap:break-word;
}
#u417_img {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:50px;
}
#u417 {
  position:absolute;
  left:445px;
  top:565px;
  width:155px;
  height:50px;
  font-size:24px;
  color:#999999;
  text-align:left;
}
#u418 {
  position:absolute;
  left:2px;
  top:11px;
  width:151px;
  word-wrap:break-word;
}
#u419_img {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:50px;
}
#u419 {
  position:absolute;
  left:244px;
  top:339px;
  width:155px;
  height:50px;
  font-size:24px;
  color:#999999;
  text-align:left;
}
#u420 {
  position:absolute;
  left:2px;
  top:11px;
  width:151px;
  word-wrap:break-word;
}
#u421 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u422_div {
  position:absolute;
  left:0px;
  top:0px;
  width:357px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#CCCCCC;
}
#u422 {
  position:absolute;
  left:290px;
  top:384px;
  width:357px;
  height:40px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#CCCCCC;
}
#u423 {
  position:absolute;
  left:2px;
  top:12px;
  width:353px;
  visibility:hidden;
  word-wrap:break-word;
}
#u424 {
  position:absolute;
  left:293px;
  top:386px;
  width:351px;
  height:36px;
}
#u424_input {
  position:absolute;
  left:0px;
  top:0px;
  width:351px;
  height:36px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u425_div {
  position:absolute;
  left:0px;
  top:0px;
  width:674px;
  height:449px;
  background:inherit;
  background-color:rgba(255, 223, 37, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  font-size:20px;
}
#u425 {
  position:absolute;
  left:806px;
  top:27px;
  width:674px;
  height:449px;
  font-size:20px;
}
#u426 {
  position:absolute;
  left:10px;
  top:10px;
  width:654px;
  word-wrap:break-word;
}
