body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1681px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2161 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2162 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2163 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2164_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:1334px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2164 {
  border-width:0px;
  position:absolute;
  left:69px;
  top:186px;
  width:750px;
  height:1334px;
}
#u2164_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2165_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:40px;
}
#u2165 {
  border-width:0px;
  position:absolute;
  left:69px;
  top:186px;
  width:750px;
  height:40px;
}
#u2165_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2166_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:88px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(119, 119, 119, 1);
  border-top:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2166 {
  border-width:0px;
  position:absolute;
  left:69px;
  top:226px;
  width:750px;
  height:88px;
}
#u2166_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2167_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:38px;
}
#u2167 {
  border-width:0px;
  position:absolute;
  left:388px;
  top:187px;
  width:112px;
  height:38px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u2167_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:108px;
  word-wrap:break-word;
}
#u2168_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:28px;
}
#u2168 {
  border-width:0px;
  position:absolute;
  left:736px;
  top:192px;
  width:71px;
  height:28px;
}
#u2168_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2169_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:28px;
}
#u2169 {
  border-width:0px;
  position:absolute;
  left:81px;
  top:192px;
  width:28px;
  height:28px;
}
#u2169_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2170_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:28px;
}
#u2170 {
  border-width:0px;
  position:absolute;
  left:109px;
  top:192px;
  width:28px;
  height:28px;
}
#u2170_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2171_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:28px;
}
#u2171 {
  border-width:0px;
  position:absolute;
  left:137px;
  top:192px;
  width:28px;
  height:28px;
}
#u2171_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2172_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:28px;
}
#u2172 {
  border-width:0px;
  position:absolute;
  left:165px;
  top:192px;
  width:28px;
  height:28px;
}
#u2172_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2173_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:28px;
}
#u2173 {
  border-width:0px;
  position:absolute;
  left:193px;
  top:192px;
  width:28px;
  height:28px;
}
#u2173_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2174_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:50px;
}
#u2174 {
  border-width:0px;
  position:absolute;
  left:334px;
  top:245px;
  width:220px;
  height:50px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:34px;
}
#u2174_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:5px;
  width:216px;
  word-wrap:break-word;
}
#u2175_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u2175 {
  border-width:0px;
  position:absolute;
  left:757px;
  top:245px;
  width:50px;
  height:50px;
  -webkit-transform:rotate(270deg);
  -moz-transform:rotate(270deg);
  -ms-transform:rotate(270deg);
  transform:rotate(270deg);
}
#u2175_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2176_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:1214px;
  background:inherit;
  background-color:rgba(228, 228, 228, 0.27843137254902);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2176 {
  border-width:0px;
  position:absolute;
  left:69px;
  top:306px;
  width:750px;
  height:1214px;
}
#u2176_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2177_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u2177 {
  border-width:0px;
  position:absolute;
  left:81px;
  top:246px;
  width:50px;
  height:50px;
}
#u2177_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2178 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2179_img {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:760px;
  height:98px;
}
#u2179 {
  border-width:0px;
  position:absolute;
  left:69px;
  top:314px;
  width:750px;
  height:88px;
}
#u2179_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2180 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2181_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:80px;
}
#u2181 {
  border-width:0px;
  position:absolute;
  left:217px;
  top:319px;
  width:80px;
  height:80px;
}
#u2181_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2182_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:73px;
}
#u2182 {
  border-width:0px;
  position:absolute;
  left:81px;
  top:322px;
  width:136px;
  height:73px;
}
#u2182_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2183_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:70px;
}
#u2183 {
  border-width:0px;
  position:absolute;
  left:735px;
  top:324px;
  width:70px;
  height:70px;
}
#u2183_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2184_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:75px;
}
#u2184 {
  border-width:0px;
  position:absolute;
  left:642px;
  top:322px;
  width:75px;
  height:75px;
}
#u2184_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2185_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:124px;
  background:inherit;
  background-color:rgba(255, 223, 37, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  font-size:20px;
  line-height:30px;
}
#u2185 {
  border-width:0px;
  position:absolute;
  left:69px;
  top:33px;
  width:750px;
  height:124px;
  font-size:20px;
  line-height:30px;
}
#u2185_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:10px;
  width:730px;
  word-wrap:break-word;
}
#u2186_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:735px;
  height:276px;
}
#u2186 {
  border-width:0px;
  position:absolute;
  left:82px;
  top:420px;
  width:725px;
  height:266px;
  font-size:20px;
  text-align:left;
  line-height:35px;
}
#u2186_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2187_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:-webkit-linear-gradient(330deg, rgba(0, 187, 161, 1) 0%, rgba(0, 187, 161, 1) 0%, rgba(0, 187, 161, 1) 53%, rgba(0, 187, 161, 1) 100%, rgba(0, 187, 161, 1) 100%);
  background:-moz-linear-gradient(120deg, rgba(0, 187, 161, 1) 0%, rgba(0, 187, 161, 1) 0%, rgba(0, 187, 161, 1) 53%, rgba(0, 187, 161, 1) 100%, rgba(0, 187, 161, 1) 100%);
  background:linear-gradient(120deg, rgba(0, 187, 161, 1) 0%, rgba(0, 187, 161, 1) 0%, rgba(0, 187, 161, 1) 53%, rgba(0, 187, 161, 1) 100%, rgba(0, 187, 161, 1) 100%);
  border:none;
  border-radius:5px;
  -moz-box-shadow:2px 2px 2px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:2px 2px 2px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:2px 2px 2px rgba(0, 0, 0, 0.349019607843137);
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u2187 {
  border-width:0px;
  position:absolute;
  left:653px;
  top:621px;
  width:140px;
  height:40px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u2187_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:136px;
  word-wrap:break-word;
}
#u2188_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  height:56px;
}
#u2188 {
  border-width:0px;
  position:absolute;
  left:656px;
  top:429px;
  width:137px;
  height:56px;
  font-size:20px;
  color:#999999;
}
#u2188_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:133px;
  word-wrap:break-word;
}
#u2189_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:180px;
}
#u2189 {
  border-width:0px;
  position:absolute;
  left:109px;
  top:429px;
  width:180px;
  height:180px;
}
#u2189_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2190_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:56px;
}
#u2190 {
  border-width:0px;
  position:absolute;
  left:318px;
  top:437px;
  width:300px;
  height:56px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:25px;
  text-align:left;
}
#u2190_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:296px;
  word-wrap:break-word;
}
#u2191_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:273px;
  height:59px;
}
#u2191 {
  border-width:0px;
  position:absolute;
  left:383px;
  top:510px;
  width:273px;
  height:59px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  text-align:left;
  line-height:30px;
}
#u2191_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:269px;
  word-wrap:break-word;
}
#u2192_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:35px;
}
#u2192 {
  border-width:0px;
  position:absolute;
  left:318px;
  top:510px;
  width:55px;
  height:35px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  text-align:left;
}
#u2192_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:51px;
  word-wrap:break-word;
}
#u2193_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:218px;
  height:40px;
}
#u2193 {
  border-width:0px;
  position:absolute;
  left:109px;
  top:621px;
  width:218px;
  height:40px;
  font-size:20px;
  color:#999999;
}
#u2193_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:214px;
  word-wrap:break-word;
}
#u2194_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:735px;
  height:276px;
}
#u2194 {
  border-width:0px;
  position:absolute;
  left:82px;
  top:704px;
  width:725px;
  height:266px;
  font-size:20px;
  text-align:left;
  line-height:35px;
}
#u2194_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2195_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:-webkit-linear-gradient(330deg, rgba(0, 187, 161, 1) 0%, rgba(0, 187, 161, 1) 0%, rgba(0, 187, 161, 1) 53%, rgba(0, 187, 161, 1) 100%, rgba(0, 187, 161, 1) 100%);
  background:-moz-linear-gradient(120deg, rgba(0, 187, 161, 1) 0%, rgba(0, 187, 161, 1) 0%, rgba(0, 187, 161, 1) 53%, rgba(0, 187, 161, 1) 100%, rgba(0, 187, 161, 1) 100%);
  background:linear-gradient(120deg, rgba(0, 187, 161, 1) 0%, rgba(0, 187, 161, 1) 0%, rgba(0, 187, 161, 1) 53%, rgba(0, 187, 161, 1) 100%, rgba(0, 187, 161, 1) 100%);
  border:none;
  border-radius:5px;
  -moz-box-shadow:2px 2px 2px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:2px 2px 2px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:2px 2px 2px rgba(0, 0, 0, 0.349019607843137);
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u2195 {
  border-width:0px;
  position:absolute;
  left:653px;
  top:905px;
  width:140px;
  height:40px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u2195_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:136px;
  word-wrap:break-word;
}
#u2196_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  height:56px;
}
#u2196 {
  border-width:0px;
  position:absolute;
  left:656px;
  top:713px;
  width:137px;
  height:56px;
  font-size:20px;
  color:#999999;
}
#u2196_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:133px;
  word-wrap:break-word;
}
#u2197_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:180px;
}
#u2197 {
  border-width:0px;
  position:absolute;
  left:109px;
  top:713px;
  width:180px;
  height:180px;
}
#u2197_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2198_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:56px;
}
#u2198 {
  border-width:0px;
  position:absolute;
  left:318px;
  top:721px;
  width:300px;
  height:56px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:25px;
  text-align:left;
}
#u2198_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:296px;
  word-wrap:break-word;
}
#u2199_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:273px;
  height:59px;
}
#u2199 {
  border-width:0px;
  position:absolute;
  left:383px;
  top:794px;
  width:273px;
  height:59px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  text-align:left;
  line-height:30px;
}
#u2199_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:269px;
  word-wrap:break-word;
}
#u2200_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:35px;
}
#u2200 {
  border-width:0px;
  position:absolute;
  left:318px;
  top:794px;
  width:55px;
  height:35px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  text-align:left;
}
#u2200_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:51px;
  word-wrap:break-word;
}
#u2201_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:218px;
  height:40px;
}
#u2201 {
  border-width:0px;
  position:absolute;
  left:109px;
  top:905px;
  width:218px;
  height:40px;
  font-size:20px;
  color:#999999;
}
#u2201_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:214px;
  word-wrap:break-word;
}
#u2202 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2203 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2204 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2205_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:1334px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2205 {
  border-width:0px;
  position:absolute;
  left:931px;
  top:186px;
  width:750px;
  height:1334px;
}
#u2205_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2206_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:40px;
}
#u2206 {
  border-width:0px;
  position:absolute;
  left:931px;
  top:186px;
  width:750px;
  height:40px;
}
#u2206_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2207_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:88px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(119, 119, 119, 1);
  border-top:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2207 {
  border-width:0px;
  position:absolute;
  left:931px;
  top:226px;
  width:750px;
  height:88px;
}
#u2207_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2208_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:38px;
}
#u2208 {
  border-width:0px;
  position:absolute;
  left:1250px;
  top:187px;
  width:112px;
  height:38px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u2208_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:108px;
  word-wrap:break-word;
}
#u2209_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:28px;
}
#u2209 {
  border-width:0px;
  position:absolute;
  left:1598px;
  top:192px;
  width:71px;
  height:28px;
}
#u2209_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2210_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:28px;
}
#u2210 {
  border-width:0px;
  position:absolute;
  left:943px;
  top:192px;
  width:28px;
  height:28px;
}
#u2210_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2211_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:28px;
}
#u2211 {
  border-width:0px;
  position:absolute;
  left:971px;
  top:192px;
  width:28px;
  height:28px;
}
#u2211_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2212_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:28px;
}
#u2212 {
  border-width:0px;
  position:absolute;
  left:999px;
  top:192px;
  width:28px;
  height:28px;
}
#u2212_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2213_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:28px;
}
#u2213 {
  border-width:0px;
  position:absolute;
  left:1027px;
  top:192px;
  width:28px;
  height:28px;
}
#u2213_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2214_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:28px;
}
#u2214 {
  border-width:0px;
  position:absolute;
  left:1055px;
  top:192px;
  width:28px;
  height:28px;
}
#u2214_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2215_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:50px;
}
#u2215 {
  border-width:0px;
  position:absolute;
  left:1196px;
  top:245px;
  width:220px;
  height:50px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:34px;
}
#u2215_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:5px;
  width:216px;
  word-wrap:break-word;
}
#u2216_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u2216 {
  border-width:0px;
  position:absolute;
  left:1619px;
  top:245px;
  width:50px;
  height:50px;
  -webkit-transform:rotate(270deg);
  -moz-transform:rotate(270deg);
  -ms-transform:rotate(270deg);
  transform:rotate(270deg);
}
#u2216_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2217_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:1214px;
  background:inherit;
  background-color:rgba(228, 228, 228, 0.27843137254902);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2217 {
  border-width:0px;
  position:absolute;
  left:931px;
  top:306px;
  width:750px;
  height:1214px;
}
#u2217_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2218_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u2218 {
  border-width:0px;
  position:absolute;
  left:943px;
  top:246px;
  width:50px;
  height:50px;
}
#u2218_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2219 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2220_img {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:760px;
  height:98px;
}
#u2220 {
  border-width:0px;
  position:absolute;
  left:931px;
  top:314px;
  width:750px;
  height:88px;
}
#u2220_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2221 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2222_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:80px;
}
#u2222 {
  border-width:0px;
  position:absolute;
  left:1079px;
  top:319px;
  width:80px;
  height:80px;
}
#u2222_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2223_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:73px;
}
#u2223 {
  border-width:0px;
  position:absolute;
  left:943px;
  top:322px;
  width:136px;
  height:73px;
}
#u2223_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2224_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:70px;
}
#u2224 {
  border-width:0px;
  position:absolute;
  left:1597px;
  top:324px;
  width:70px;
  height:70px;
}
#u2224_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2225_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:75px;
}
#u2225 {
  border-width:0px;
  position:absolute;
  left:1504px;
  top:322px;
  width:75px;
  height:75px;
}
#u2225_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2226_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:124px;
  background:inherit;
  background-color:rgba(255, 223, 37, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  font-size:20px;
  line-height:30px;
}
#u2226 {
  border-width:0px;
  position:absolute;
  left:931px;
  top:33px;
  width:750px;
  height:124px;
  font-size:20px;
  line-height:30px;
}
#u2226_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:10px;
  width:730px;
  word-wrap:break-word;
}
#u2227_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:300px;
}
#u2227 {
  border-width:0px;
  position:absolute;
  left:1153px;
  top:460px;
  width:300px;
  height:300px;
  opacity:0.4;
}
#u2227_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2228_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:512px;
  height:117px;
}
#u2228 {
  border-width:0px;
  position:absolute;
  left:1050px;
  top:861px;
  width:512px;
  height:117px;
  font-size:20px;
  line-height:30px;
}
#u2228_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:28px;
  width:508px;
  word-wrap:break-word;
}
#u2229_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:60px;
  background:-webkit-linear-gradient(330deg, rgba(0, 187, 161, 1) 0%, rgba(0, 187, 161, 1) 0%, rgba(0, 187, 161, 1) 53%, rgba(0, 187, 161, 1) 100%, rgba(0, 187, 161, 1) 100%);
  background:-moz-linear-gradient(120deg, rgba(0, 187, 161, 1) 0%, rgba(0, 187, 161, 1) 0%, rgba(0, 187, 161, 1) 53%, rgba(0, 187, 161, 1) 100%, rgba(0, 187, 161, 1) 100%);
  background:linear-gradient(120deg, rgba(0, 187, 161, 1) 0%, rgba(0, 187, 161, 1) 0%, rgba(0, 187, 161, 1) 53%, rgba(0, 187, 161, 1) 100%, rgba(0, 187, 161, 1) 100%);
  border:none;
  border-radius:5px;
  -moz-box-shadow:2px 2px 2px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:2px 2px 2px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:2px 2px 2px rgba(0, 0, 0, 0.349019607843137);
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u2229 {
  border-width:0px;
  position:absolute;
  left:1201px;
  top:1086px;
  width:210px;
  height:60px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u2229_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:18px;
  width:206px;
  word-wrap:break-word;
}
