body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:852px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2274_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:832px;
  height:568px;
  background:-webkit-linear-gradient(330deg, rgba(0, 187, 161, 1) 0%, rgba(0, 187, 161, 1) 0%, rgba(0, 187, 161, 1) 53%, rgba(0, 187, 161, 1) 100%, rgba(0, 187, 161, 1) 100%);
  background:-moz-linear-gradient(120deg, rgba(0, 187, 161, 1) 0%, rgba(0, 187, 161, 1) 0%, rgba(0, 187, 161, 1) 53%, rgba(0, 187, 161, 1) 100%, rgba(0, 187, 161, 1) 100%);
  background:linear-gradient(120deg, rgba(0, 187, 161, 1) 0%, rgba(0, 187, 161, 1) 0%, rgba(0, 187, 161, 1) 53%, rgba(0, 187, 161, 1) 100%, rgba(0, 187, 161, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2274 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:9px;
  width:832px;
  height:568px;
}
#u2274_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2275_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:154px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:15px;
}
#u2275 {
  border-width:0px;
  position:absolute;
  left:578px;
  top:96px;
  width:154px;
  height:40px;
  font-size:15px;
}
#u2275_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:150px;
  word-wrap:break-word;
}
#u2276_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:154px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:15px;
}
#u2276 {
  border-width:0px;
  position:absolute;
  left:172px;
  top:96px;
  width:154px;
  height:40px;
  font-size:15px;
}
#u2276_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:150px;
  word-wrap:break-word;
}
#u2277_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:60px;
}
#u2277 {
  border-width:0px;
  position:absolute;
  left:185px;
  top:182px;
  width:127px;
  height:60px;
}
#u2277_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:123px;
  word-wrap:break-word;
}
#u2278_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u2278 {
  border-width:0px;
  position:absolute;
  left:605px;
  top:182px;
  width:100px;
  height:60px;
}
#u2278_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u2279_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:15px;
}
#u2279 {
  border-width:0px;
  position:absolute;
  left:519px;
  top:314px;
  width:86px;
  height:40px;
  font-size:15px;
}
#u2279_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:82px;
  word-wrap:break-word;
}
#u2280_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:15px;
}
#u2280 {
  border-width:0px;
  position:absolute;
  left:717px;
  top:314px;
  width:85px;
  height:40px;
  font-size:15px;
}
#u2280_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:81px;
  word-wrap:break-word;
}
#u2281_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:15px;
}
#u2281 {
  border-width:0px;
  position:absolute;
  left:81px;
  top:314px;
  width:114px;
  height:40px;
  font-size:15px;
}
#u2281_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:110px;
  word-wrap:break-word;
}
#u2282_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:15px;
}
#u2282 {
  border-width:0px;
  position:absolute;
  left:292px;
  top:314px;
  width:108px;
  height:40px;
  font-size:15px;
}
#u2282_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:104px;
  word-wrap:break-word;
}
#u2283_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u2283 {
  border-width:0px;
  position:absolute;
  left:185px;
  top:406px;
  width:100px;
  height:60px;
}
#u2283_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u2284_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:15px;
}
#u2284 {
  border-width:0px;
  position:absolute;
  left:73px;
  top:509px;
  width:114px;
  height:40px;
  font-size:15px;
}
#u2284_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:3px;
  width:110px;
  word-wrap:break-word;
}
#u2285_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:15px;
}
#u2285 {
  border-width:0px;
  position:absolute;
  left:276px;
  top:509px;
  width:114px;
  height:40px;
  font-size:15px;
}
#u2285_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:3px;
  width:110px;
  word-wrap:break-word;
}
#u2286 {
  border-width:0px;
  position:absolute;
  left:249px;
  top:136px;
  width:0px;
  height:0px;
  color:#000000;
}
#u2286_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:50px;
}
#u2286_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:34px;
  width:18px;
  height:18px;
}
#u2286_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:15px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2287 {
  border-width:0px;
  position:absolute;
  left:312px;
  top:212px;
  width:0px;
  height:0px;
  color:#000000;
}
#u2287_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:38px;
  height:8px;
}
#u2287_seg1 {
  border-width:0px;
  position:absolute;
  left:30px;
  top:-4px;
  width:8px;
  height:106px;
}
#u2287_seg2 {
  border-width:0px;
  position:absolute;
  left:25px;
  top:90px;
  width:18px;
  height:18px;
}
#u2287_text {
  border-width:0px;
  position:absolute;
  left:-16px;
  top:26px;
  width:100px;
  word-wrap:break-word;
}
#u2288 {
  border-width:0px;
  position:absolute;
  left:185px;
  top:212px;
  width:0px;
  height:0px;
  color:#000000;
}
#u2288_seg0 {
  border-width:0px;
  position:absolute;
  left:-51px;
  top:-4px;
  width:51px;
  height:8px;
}
#u2288_seg1 {
  border-width:0px;
  position:absolute;
  left:-51px;
  top:-4px;
  width:8px;
  height:106px;
}
#u2288_seg2 {
  border-width:0px;
  position:absolute;
  left:-56px;
  top:90px;
  width:18px;
  height:18px;
}
#u2288_text {
  border-width:0px;
  position:absolute;
  left:-97px;
  top:20px;
  width:100px;
  word-wrap:break-word;
}
#u2289 {
  border-width:0px;
  position:absolute;
  left:138px;
  top:354px;
  width:0px;
  height:0px;
  color:#000000;
}
#u2289_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:40px;
}
#u2289_seg1 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:32px;
  width:105px;
  height:8px;
}
#u2289_seg2 {
  border-width:0px;
  position:absolute;
  left:93px;
  top:32px;
  width:8px;
  height:20px;
}
#u2289_seg3 {
  border-width:0px;
  position:absolute;
  left:88px;
  top:40px;
  width:18px;
  height:18px;
}
#u2289_text {
  border-width:0px;
  position:absolute;
  left:-12px;
  top:28px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2290 {
  border-width:0px;
  position:absolute;
  left:346px;
  top:354px;
  width:0px;
  height:0px;
  color:#000000;
}
#u2290_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:40px;
}
#u2290_seg1 {
  border-width:0px;
  position:absolute;
  left:-115px;
  top:32px;
  width:119px;
  height:8px;
}
#u2290_seg2 {
  border-width:0px;
  position:absolute;
  left:-115px;
  top:32px;
  width:8px;
  height:20px;
}
#u2290_seg3 {
  border-width:0px;
  position:absolute;
  left:-120px;
  top:40px;
  width:18px;
  height:18px;
}
#u2290_text {
  border-width:0px;
  position:absolute;
  left:-96px;
  top:28px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2291 {
  border-width:0px;
  position:absolute;
  left:185px;
  top:436px;
  width:0px;
  height:0px;
  color:#000000;
}
#u2291_seg0 {
  border-width:0px;
  position:absolute;
  left:-59px;
  top:-4px;
  width:59px;
  height:8px;
}
#u2291_seg1 {
  border-width:0px;
  position:absolute;
  left:-59px;
  top:-4px;
  width:8px;
  height:77px;
}
#u2291_seg2 {
  border-width:0px;
  position:absolute;
  left:-64px;
  top:61px;
  width:18px;
  height:18px;
}
#u2291_text {
  border-width:0px;
  position:absolute;
  left:-105px;
  top:1px;
  width:100px;
  word-wrap:break-word;
}
#u2292 {
  border-width:0px;
  position:absolute;
  left:285px;
  top:436px;
  width:0px;
  height:0px;
  color:#000000;
}
#u2292_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:52px;
  height:8px;
}
#u2292_seg1 {
  border-width:0px;
  position:absolute;
  left:44px;
  top:-4px;
  width:8px;
  height:77px;
}
#u2292_seg2 {
  border-width:0px;
  position:absolute;
  left:39px;
  top:61px;
  width:18px;
  height:18px;
}
#u2292_text {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:4px;
  width:100px;
  word-wrap:break-word;
}
#u2293 {
  border-width:0px;
  position:absolute;
  left:655px;
  top:136px;
  width:0px;
  height:0px;
  color:#000000;
}
#u2293_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:50px;
}
#u2293_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:34px;
  width:18px;
  height:18px;
}
#u2293_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:15px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2294 {
  border-width:0px;
  position:absolute;
  left:605px;
  top:212px;
  width:0px;
  height:0px;
  color:#000000;
}
#u2294_seg0 {
  border-width:0px;
  position:absolute;
  left:-47px;
  top:-4px;
  width:47px;
  height:8px;
}
#u2294_seg1 {
  border-width:0px;
  position:absolute;
  left:-47px;
  top:-4px;
  width:8px;
  height:106px;
}
#u2294_seg2 {
  border-width:0px;
  position:absolute;
  left:-52px;
  top:90px;
  width:18px;
  height:18px;
}
#u2294_text {
  border-width:0px;
  position:absolute;
  left:-93px;
  top:22px;
  width:100px;
  word-wrap:break-word;
}
#u2295 {
  border-width:0px;
  position:absolute;
  left:705px;
  top:212px;
  width:0px;
  height:0px;
  color:#000000;
}
#u2295_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:59px;
  height:8px;
}
#u2295_seg1 {
  border-width:0px;
  position:absolute;
  left:51px;
  top:-4px;
  width:8px;
  height:106px;
}
#u2295_seg2 {
  border-width:0px;
  position:absolute;
  left:46px;
  top:90px;
  width:18px;
  height:18px;
}
#u2295_text {
  border-width:0px;
  position:absolute;
  left:5px;
  top:16px;
  width:100px;
  word-wrap:break-word;
}
#u2296_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:266px;
  height:98px;
  background:inherit;
  background-color:rgba(255, 223, 37, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  font-size:15px;
}
#u2296 {
  border-width:0px;
  position:absolute;
  left:536px;
  top:451px;
  width:266px;
  height:98px;
  font-size:15px;
}
#u2296_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:10px;
  width:246px;
  word-wrap:break-word;
}
#u2297_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:154px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:15px;
}
#u2297 {
  border-width:0px;
  position:absolute;
  left:374px;
  top:20px;
  width:154px;
  height:40px;
  font-size:15px;
}
#u2297_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:150px;
  word-wrap:break-word;
}
#u2298 {
  border-width:0px;
  position:absolute;
  left:451px;
  top:60px;
  width:0px;
  height:0px;
  color:#000000;
}
#u2298_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:24px;
}
#u2298_seg1 {
  border-width:0px;
  position:absolute;
  left:-206px;
  top:16px;
  width:210px;
  height:8px;
}
#u2298_seg2 {
  border-width:0px;
  position:absolute;
  left:-206px;
  top:16px;
  width:8px;
  height:20px;
}
#u2298_seg3 {
  border-width:0px;
  position:absolute;
  left:-211px;
  top:24px;
  width:18px;
  height:18px;
}
#u2298_text {
  border-width:0px;
  position:absolute;
  left:-149px;
  top:12px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2299 {
  border-width:0px;
  position:absolute;
  left:451px;
  top:60px;
  width:0px;
  height:0px;
  color:#000000;
}
#u2299_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:24px;
}
#u2299_seg1 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:16px;
  width:212px;
  height:8px;
}
#u2299_seg2 {
  border-width:0px;
  position:absolute;
  left:200px;
  top:16px;
  width:8px;
  height:20px;
}
#u2299_seg3 {
  border-width:0px;
  position:absolute;
  left:195px;
  top:24px;
  width:18px;
  height:18px;
}
#u2299_text {
  border-width:0px;
  position:absolute;
  left:50px;
  top:12px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
