body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:852px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2189_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:832px;
  height:568px;
  background:-webkit-linear-gradient(330deg, rgba(0, 187, 161, 1) 0%, rgba(0, 187, 161, 1) 0%, rgba(0, 187, 161, 1) 53%, rgba(0, 187, 161, 1) 100%, rgba(0, 187, 161, 1) 100%);
  background:-moz-linear-gradient(120deg, rgba(0, 187, 161, 1) 0%, rgba(0, 187, 161, 1) 0%, rgba(0, 187, 161, 1) 53%, rgba(0, 187, 161, 1) 100%, rgba(0, 187, 161, 1) 100%);
  background:linear-gradient(120deg, rgba(0, 187, 161, 1) 0%, rgba(0, 187, 161, 1) 0%, rgba(0, 187, 161, 1) 53%, rgba(0, 187, 161, 1) 100%, rgba(0, 187, 161, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2189 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:9px;
  width:832px;
  height:568px;
}
#u2189_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2190_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:154px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:15px;
}
#u2190 {
  border-width:0px;
  position:absolute;
  left:578px;
  top:96px;
  width:154px;
  height:40px;
  font-size:15px;
}
#u2190_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:150px;
  word-wrap:break-word;
}
#u2191_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:154px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:15px;
}
#u2191 {
  border-width:0px;
  position:absolute;
  left:172px;
  top:96px;
  width:154px;
  height:40px;
  font-size:15px;
}
#u2191_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:150px;
  word-wrap:break-word;
}
#u2192_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:60px;
}
#u2192 {
  border-width:0px;
  position:absolute;
  left:185px;
  top:182px;
  width:127px;
  height:60px;
}
#u2192_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:123px;
  word-wrap:break-word;
}
#u2193_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u2193 {
  border-width:0px;
  position:absolute;
  left:605px;
  top:182px;
  width:100px;
  height:60px;
}
#u2193_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u2194_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:15px;
}
#u2194 {
  border-width:0px;
  position:absolute;
  left:519px;
  top:314px;
  width:86px;
  height:40px;
  font-size:15px;
}
#u2194_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:82px;
  word-wrap:break-word;
}
#u2195_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:15px;
}
#u2195 {
  border-width:0px;
  position:absolute;
  left:717px;
  top:314px;
  width:85px;
  height:40px;
  font-size:15px;
}
#u2195_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:81px;
  word-wrap:break-word;
}
#u2196_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:15px;
}
#u2196 {
  border-width:0px;
  position:absolute;
  left:81px;
  top:314px;
  width:114px;
  height:40px;
  font-size:15px;
}
#u2196_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:110px;
  word-wrap:break-word;
}
#u2197_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:15px;
}
#u2197 {
  border-width:0px;
  position:absolute;
  left:292px;
  top:314px;
  width:108px;
  height:40px;
  font-size:15px;
}
#u2197_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:104px;
  word-wrap:break-word;
}
#u2198_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u2198 {
  border-width:0px;
  position:absolute;
  left:185px;
  top:406px;
  width:100px;
  height:60px;
}
#u2198_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u2199_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:15px;
}
#u2199 {
  border-width:0px;
  position:absolute;
  left:62px;
  top:509px;
  width:153px;
  height:40px;
  font-size:15px;
}
#u2199_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:3px;
  width:149px;
  word-wrap:break-word;
}
#u2200_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:15px;
}
#u2200 {
  border-width:0px;
  position:absolute;
  left:276px;
  top:509px;
  width:124px;
  height:40px;
  font-size:15px;
}
#u2200_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:3px;
  width:120px;
  word-wrap:break-word;
}
#u2201 {
  border-width:0px;
  position:absolute;
  left:249px;
  top:136px;
  width:0px;
  height:0px;
  color:#000000;
}
#u2201_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:50px;
}
#u2201_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:34px;
  width:18px;
  height:18px;
}
#u2201_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:15px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2202 {
  border-width:0px;
  position:absolute;
  left:312px;
  top:212px;
  width:0px;
  height:0px;
  color:#000000;
}
#u2202_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:38px;
  height:8px;
}
#u2202_seg1 {
  border-width:0px;
  position:absolute;
  left:30px;
  top:-4px;
  width:8px;
  height:106px;
}
#u2202_seg2 {
  border-width:0px;
  position:absolute;
  left:25px;
  top:90px;
  width:18px;
  height:18px;
}
#u2202_text {
  border-width:0px;
  position:absolute;
  left:-16px;
  top:26px;
  width:100px;
  word-wrap:break-word;
}
#u2203 {
  border-width:0px;
  position:absolute;
  left:185px;
  top:212px;
  width:0px;
  height:0px;
  color:#000000;
}
#u2203_seg0 {
  border-width:0px;
  position:absolute;
  left:-51px;
  top:-4px;
  width:51px;
  height:8px;
}
#u2203_seg1 {
  border-width:0px;
  position:absolute;
  left:-51px;
  top:-4px;
  width:8px;
  height:106px;
}
#u2203_seg2 {
  border-width:0px;
  position:absolute;
  left:-56px;
  top:90px;
  width:18px;
  height:18px;
}
#u2203_text {
  border-width:0px;
  position:absolute;
  left:-97px;
  top:20px;
  width:100px;
  word-wrap:break-word;
}
#u2204 {
  border-width:0px;
  position:absolute;
  left:138px;
  top:354px;
  width:0px;
  height:0px;
  color:#000000;
}
#u2204_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:40px;
}
#u2204_seg1 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:32px;
  width:105px;
  height:8px;
}
#u2204_seg2 {
  border-width:0px;
  position:absolute;
  left:93px;
  top:32px;
  width:8px;
  height:20px;
}
#u2204_seg3 {
  border-width:0px;
  position:absolute;
  left:88px;
  top:40px;
  width:18px;
  height:18px;
}
#u2204_text {
  border-width:0px;
  position:absolute;
  left:-12px;
  top:28px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2205 {
  border-width:0px;
  position:absolute;
  left:346px;
  top:354px;
  width:0px;
  height:0px;
  color:#000000;
}
#u2205_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:40px;
}
#u2205_seg1 {
  border-width:0px;
  position:absolute;
  left:-115px;
  top:32px;
  width:119px;
  height:8px;
}
#u2205_seg2 {
  border-width:0px;
  position:absolute;
  left:-115px;
  top:32px;
  width:8px;
  height:20px;
}
#u2205_seg3 {
  border-width:0px;
  position:absolute;
  left:-120px;
  top:40px;
  width:18px;
  height:18px;
}
#u2205_text {
  border-width:0px;
  position:absolute;
  left:-96px;
  top:28px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2206 {
  border-width:0px;
  position:absolute;
  left:185px;
  top:436px;
  width:0px;
  height:0px;
  color:#000000;
}
#u2206_seg0 {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:-4px;
  width:50px;
  height:8px;
}
#u2206_seg1 {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:-4px;
  width:8px;
  height:77px;
}
#u2206_seg2 {
  border-width:0px;
  position:absolute;
  left:-55px;
  top:61px;
  width:18px;
  height:18px;
}
#u2206_text {
  border-width:0px;
  position:absolute;
  left:-96px;
  top:6px;
  width:100px;
  word-wrap:break-word;
}
#u2207 {
  border-width:0px;
  position:absolute;
  left:285px;
  top:436px;
  width:0px;
  height:0px;
  color:#000000;
}
#u2207_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:57px;
  height:8px;
}
#u2207_seg1 {
  border-width:0px;
  position:absolute;
  left:49px;
  top:-4px;
  width:8px;
  height:77px;
}
#u2207_seg2 {
  border-width:0px;
  position:absolute;
  left:44px;
  top:61px;
  width:18px;
  height:18px;
}
#u2207_text {
  border-width:0px;
  position:absolute;
  left:3px;
  top:2px;
  width:100px;
  word-wrap:break-word;
}
#u2208 {
  border-width:0px;
  position:absolute;
  left:655px;
  top:136px;
  width:0px;
  height:0px;
  color:#000000;
}
#u2208_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:50px;
}
#u2208_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:34px;
  width:18px;
  height:18px;
}
#u2208_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:15px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2209 {
  border-width:0px;
  position:absolute;
  left:605px;
  top:212px;
  width:0px;
  height:0px;
  color:#000000;
}
#u2209_seg0 {
  border-width:0px;
  position:absolute;
  left:-47px;
  top:-4px;
  width:47px;
  height:8px;
}
#u2209_seg1 {
  border-width:0px;
  position:absolute;
  left:-47px;
  top:-4px;
  width:8px;
  height:106px;
}
#u2209_seg2 {
  border-width:0px;
  position:absolute;
  left:-52px;
  top:90px;
  width:18px;
  height:18px;
}
#u2209_text {
  border-width:0px;
  position:absolute;
  left:-93px;
  top:22px;
  width:100px;
  word-wrap:break-word;
}
#u2210 {
  border-width:0px;
  position:absolute;
  left:705px;
  top:212px;
  width:0px;
  height:0px;
  color:#000000;
}
#u2210_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:59px;
  height:8px;
}
#u2210_seg1 {
  border-width:0px;
  position:absolute;
  left:51px;
  top:-4px;
  width:8px;
  height:106px;
}
#u2210_seg2 {
  border-width:0px;
  position:absolute;
  left:46px;
  top:90px;
  width:18px;
  height:18px;
}
#u2210_text {
  border-width:0px;
  position:absolute;
  left:5px;
  top:16px;
  width:100px;
  word-wrap:break-word;
}
#u2211_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:266px;
  height:98px;
  background:inherit;
  background-color:rgba(255, 223, 37, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  font-size:15px;
}
#u2211 {
  border-width:0px;
  position:absolute;
  left:536px;
  top:451px;
  width:266px;
  height:98px;
  font-size:15px;
}
#u2211_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:10px;
  width:246px;
  word-wrap:break-word;
}
#u2212_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:154px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:15px;
}
#u2212 {
  border-width:0px;
  position:absolute;
  left:374px;
  top:20px;
  width:154px;
  height:40px;
  font-size:15px;
}
#u2212_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:150px;
  word-wrap:break-word;
}
#u2213 {
  border-width:0px;
  position:absolute;
  left:451px;
  top:60px;
  width:0px;
  height:0px;
  color:#000000;
}
#u2213_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:24px;
}
#u2213_seg1 {
  border-width:0px;
  position:absolute;
  left:-206px;
  top:16px;
  width:210px;
  height:8px;
}
#u2213_seg2 {
  border-width:0px;
  position:absolute;
  left:-206px;
  top:16px;
  width:8px;
  height:20px;
}
#u2213_seg3 {
  border-width:0px;
  position:absolute;
  left:-211px;
  top:24px;
  width:18px;
  height:18px;
}
#u2213_text {
  border-width:0px;
  position:absolute;
  left:-149px;
  top:12px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2214 {
  border-width:0px;
  position:absolute;
  left:451px;
  top:60px;
  width:0px;
  height:0px;
  color:#000000;
}
#u2214_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:24px;
}
#u2214_seg1 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:16px;
  width:212px;
  height:8px;
}
#u2214_seg2 {
  border-width:0px;
  position:absolute;
  left:200px;
  top:16px;
  width:8px;
  height:20px;
}
#u2214_seg3 {
  border-width:0px;
  position:absolute;
  left:195px;
  top:24px;
  width:18px;
  height:18px;
}
#u2214_text {
  border-width:0px;
  position:absolute;
  left:50px;
  top:12px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
