body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:852px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u454_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:832px;
  height:568px;
  background:-webkit-linear-gradient(330deg, rgba(0, 187, 161, 1) 0%, rgba(0, 187, 161, 1) 0%, rgba(0, 187, 161, 1) 53%, rgba(0, 187, 161, 1) 100%, rgba(0, 187, 161, 1) 100%);
  background:-moz-linear-gradient(120deg, rgba(0, 187, 161, 1) 0%, rgba(0, 187, 161, 1) 0%, rgba(0, 187, 161, 1) 53%, rgba(0, 187, 161, 1) 100%, rgba(0, 187, 161, 1) 100%);
  background:linear-gradient(120deg, rgba(0, 187, 161, 1) 0%, rgba(0, 187, 161, 1) 0%, rgba(0, 187, 161, 1) 53%, rgba(0, 187, 161, 1) 100%, rgba(0, 187, 161, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u454 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:9px;
  width:832px;
  height:568px;
}
#u454_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u455_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:154px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:15px;
}
#u455 {
  border-width:0px;
  position:absolute;
  left:578px;
  top:96px;
  width:154px;
  height:40px;
  font-size:15px;
}
#u455_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:150px;
  word-wrap:break-word;
}
#u456_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:154px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:15px;
}
#u456 {
  border-width:0px;
  position:absolute;
  left:172px;
  top:96px;
  width:154px;
  height:40px;
  font-size:15px;
}
#u456_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:150px;
  word-wrap:break-word;
}
#u457_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:60px;
}
#u457 {
  border-width:0px;
  position:absolute;
  left:185px;
  top:182px;
  width:127px;
  height:60px;
}
#u457_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:123px;
  word-wrap:break-word;
}
#u458_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u458 {
  border-width:0px;
  position:absolute;
  left:605px;
  top:182px;
  width:100px;
  height:60px;
}
#u458_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u459_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:15px;
}
#u459 {
  border-width:0px;
  position:absolute;
  left:519px;
  top:314px;
  width:86px;
  height:40px;
  font-size:15px;
}
#u459_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:82px;
  word-wrap:break-word;
}
#u460_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:15px;
}
#u460 {
  border-width:0px;
  position:absolute;
  left:717px;
  top:314px;
  width:85px;
  height:40px;
  font-size:15px;
}
#u460_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:81px;
  word-wrap:break-word;
}
#u461_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:15px;
}
#u461 {
  border-width:0px;
  position:absolute;
  left:81px;
  top:314px;
  width:114px;
  height:40px;
  font-size:15px;
}
#u461_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:110px;
  word-wrap:break-word;
}
#u462_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:15px;
}
#u462 {
  border-width:0px;
  position:absolute;
  left:292px;
  top:314px;
  width:108px;
  height:40px;
  font-size:15px;
}
#u462_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:104px;
  word-wrap:break-word;
}
#u463_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u463 {
  border-width:0px;
  position:absolute;
  left:185px;
  top:406px;
  width:100px;
  height:60px;
}
#u463_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u464_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:15px;
}
#u464 {
  border-width:0px;
  position:absolute;
  left:62px;
  top:509px;
  width:153px;
  height:40px;
  font-size:15px;
}
#u464_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:3px;
  width:149px;
  word-wrap:break-word;
}
#u465_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:15px;
}
#u465 {
  border-width:0px;
  position:absolute;
  left:276px;
  top:509px;
  width:124px;
  height:40px;
  font-size:15px;
}
#u465_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:3px;
  width:120px;
  word-wrap:break-word;
}
#u466 {
  border-width:0px;
  position:absolute;
  left:249px;
  top:136px;
  width:0px;
  height:0px;
  color:#000000;
}
#u466_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:50px;
}
#u466_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:34px;
  width:18px;
  height:18px;
}
#u466_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:15px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u467 {
  border-width:0px;
  position:absolute;
  left:312px;
  top:212px;
  width:0px;
  height:0px;
  color:#000000;
}
#u467_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:38px;
  height:8px;
}
#u467_seg1 {
  border-width:0px;
  position:absolute;
  left:30px;
  top:-4px;
  width:8px;
  height:106px;
}
#u467_seg2 {
  border-width:0px;
  position:absolute;
  left:25px;
  top:90px;
  width:18px;
  height:18px;
}
#u467_text {
  border-width:0px;
  position:absolute;
  left:-16px;
  top:26px;
  width:100px;
  word-wrap:break-word;
}
#u468 {
  border-width:0px;
  position:absolute;
  left:185px;
  top:212px;
  width:0px;
  height:0px;
  color:#000000;
}
#u468_seg0 {
  border-width:0px;
  position:absolute;
  left:-51px;
  top:-4px;
  width:51px;
  height:8px;
}
#u468_seg1 {
  border-width:0px;
  position:absolute;
  left:-51px;
  top:-4px;
  width:8px;
  height:106px;
}
#u468_seg2 {
  border-width:0px;
  position:absolute;
  left:-56px;
  top:90px;
  width:18px;
  height:18px;
}
#u468_text {
  border-width:0px;
  position:absolute;
  left:-97px;
  top:20px;
  width:100px;
  word-wrap:break-word;
}
#u469 {
  border-width:0px;
  position:absolute;
  left:138px;
  top:354px;
  width:0px;
  height:0px;
  color:#000000;
}
#u469_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:40px;
}
#u469_seg1 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:32px;
  width:105px;
  height:8px;
}
#u469_seg2 {
  border-width:0px;
  position:absolute;
  left:93px;
  top:32px;
  width:8px;
  height:20px;
}
#u469_seg3 {
  border-width:0px;
  position:absolute;
  left:88px;
  top:40px;
  width:18px;
  height:18px;
}
#u469_text {
  border-width:0px;
  position:absolute;
  left:-12px;
  top:28px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u470 {
  border-width:0px;
  position:absolute;
  left:346px;
  top:354px;
  width:0px;
  height:0px;
  color:#000000;
}
#u470_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:40px;
}
#u470_seg1 {
  border-width:0px;
  position:absolute;
  left:-115px;
  top:32px;
  width:119px;
  height:8px;
}
#u470_seg2 {
  border-width:0px;
  position:absolute;
  left:-115px;
  top:32px;
  width:8px;
  height:20px;
}
#u470_seg3 {
  border-width:0px;
  position:absolute;
  left:-120px;
  top:40px;
  width:18px;
  height:18px;
}
#u470_text {
  border-width:0px;
  position:absolute;
  left:-96px;
  top:28px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u471 {
  border-width:0px;
  position:absolute;
  left:185px;
  top:436px;
  width:0px;
  height:0px;
  color:#000000;
}
#u471_seg0 {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:-4px;
  width:50px;
  height:8px;
}
#u471_seg1 {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:-4px;
  width:8px;
  height:77px;
}
#u471_seg2 {
  border-width:0px;
  position:absolute;
  left:-55px;
  top:61px;
  width:18px;
  height:18px;
}
#u471_text {
  border-width:0px;
  position:absolute;
  left:-96px;
  top:6px;
  width:100px;
  word-wrap:break-word;
}
#u472 {
  border-width:0px;
  position:absolute;
  left:285px;
  top:436px;
  width:0px;
  height:0px;
  color:#000000;
}
#u472_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:57px;
  height:8px;
}
#u472_seg1 {
  border-width:0px;
  position:absolute;
  left:49px;
  top:-4px;
  width:8px;
  height:77px;
}
#u472_seg2 {
  border-width:0px;
  position:absolute;
  left:44px;
  top:61px;
  width:18px;
  height:18px;
}
#u472_text {
  border-width:0px;
  position:absolute;
  left:3px;
  top:2px;
  width:100px;
  word-wrap:break-word;
}
#u473 {
  border-width:0px;
  position:absolute;
  left:655px;
  top:136px;
  width:0px;
  height:0px;
  color:#000000;
}
#u473_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:50px;
}
#u473_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:34px;
  width:18px;
  height:18px;
}
#u473_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:15px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u474 {
  border-width:0px;
  position:absolute;
  left:605px;
  top:212px;
  width:0px;
  height:0px;
  color:#000000;
}
#u474_seg0 {
  border-width:0px;
  position:absolute;
  left:-47px;
  top:-4px;
  width:47px;
  height:8px;
}
#u474_seg1 {
  border-width:0px;
  position:absolute;
  left:-47px;
  top:-4px;
  width:8px;
  height:106px;
}
#u474_seg2 {
  border-width:0px;
  position:absolute;
  left:-52px;
  top:90px;
  width:18px;
  height:18px;
}
#u474_text {
  border-width:0px;
  position:absolute;
  left:-93px;
  top:22px;
  width:100px;
  word-wrap:break-word;
}
#u475 {
  border-width:0px;
  position:absolute;
  left:705px;
  top:212px;
  width:0px;
  height:0px;
  color:#000000;
}
#u475_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:59px;
  height:8px;
}
#u475_seg1 {
  border-width:0px;
  position:absolute;
  left:51px;
  top:-4px;
  width:8px;
  height:106px;
}
#u475_seg2 {
  border-width:0px;
  position:absolute;
  left:46px;
  top:90px;
  width:18px;
  height:18px;
}
#u475_text {
  border-width:0px;
  position:absolute;
  left:5px;
  top:16px;
  width:100px;
  word-wrap:break-word;
}
#u476_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:266px;
  height:98px;
  background:inherit;
  background-color:rgba(255, 223, 37, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  font-size:15px;
}
#u476 {
  border-width:0px;
  position:absolute;
  left:536px;
  top:451px;
  width:266px;
  height:98px;
  font-size:15px;
}
#u476_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:10px;
  width:246px;
  word-wrap:break-word;
}
#u477_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:154px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:15px;
}
#u477 {
  border-width:0px;
  position:absolute;
  left:374px;
  top:20px;
  width:154px;
  height:40px;
  font-size:15px;
}
#u477_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:150px;
  word-wrap:break-word;
}
#u478 {
  border-width:0px;
  position:absolute;
  left:451px;
  top:60px;
  width:0px;
  height:0px;
  color:#000000;
}
#u478_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:24px;
}
#u478_seg1 {
  border-width:0px;
  position:absolute;
  left:-206px;
  top:16px;
  width:210px;
  height:8px;
}
#u478_seg2 {
  border-width:0px;
  position:absolute;
  left:-206px;
  top:16px;
  width:8px;
  height:20px;
}
#u478_seg3 {
  border-width:0px;
  position:absolute;
  left:-211px;
  top:24px;
  width:18px;
  height:18px;
}
#u478_text {
  border-width:0px;
  position:absolute;
  left:-149px;
  top:12px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u479 {
  border-width:0px;
  position:absolute;
  left:451px;
  top:60px;
  width:0px;
  height:0px;
  color:#000000;
}
#u479_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:24px;
}
#u479_seg1 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:16px;
  width:212px;
  height:8px;
}
#u479_seg2 {
  border-width:0px;
  position:absolute;
  left:200px;
  top:16px;
  width:8px;
  height:20px;
}
#u479_seg3 {
  border-width:0px;
  position:absolute;
  left:195px;
  top:24px;
  width:18px;
  height:18px;
}
#u479_text {
  border-width:0px;
  position:absolute;
  left:50px;
  top:12px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
