body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:990px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1639_img {
  position:absolute;
  left:0px;
  top:0px;
  width:980px;
  height:1018px;
}
#u1639 {
  position:absolute;
  left:10px;
  top:10px;
  width:980px;
  height:1018px;
}
#u1640 {
  position:absolute;
  left:2px;
  top:501px;
  width:976px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1641_img {
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  height:35px;
}
#u1641 {
  position:absolute;
  left:57px;
  top:175px;
  width:139px;
  height:35px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:15px;
  color:#000000;
  text-align:left;
}
#u1642 {
  position:absolute;
  left:2px;
  top:9px;
  width:135px;
  word-wrap:break-word;
}
#u1643_img {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:35px;
}
#u1643 {
  position:absolute;
  left:57px;
  top:222px;
  width:94px;
  height:35px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:15px;
  color:#000000;
  text-align:left;
}
#u1644 {
  position:absolute;
  left:2px;
  top:9px;
  width:90px;
  word-wrap:break-word;
}
#u1645_div {
  position:absolute;
  left:0px;
  top:0px;
  width:980px;
  height:73px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  text-align:left;
}
#u1645 {
  position:absolute;
  left:10px;
  top:10px;
  width:980px;
  height:73px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  text-align:left;
}
#u1646 {
  position:absolute;
  left:15px;
  top:24px;
  width:963px;
  word-wrap:break-word;
}
#u1647_div {
  position:absolute;
  left:0px;
  top:0px;
  width:980px;
  height:52px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u1647 {
  position:absolute;
  left:10px;
  top:57px;
  width:980px;
  height:52px;
  text-align:left;
}
#u1648 {
  position:absolute;
  left:15px;
  top:18px;
  width:963px;
  word-wrap:break-word;
}
#u1649_img {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:35px;
}
#u1649 {
  position:absolute;
  left:291px;
  top:175px;
  width:94px;
  height:35px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:15px;
  color:#000000;
  text-align:left;
}
#u1650 {
  position:absolute;
  left:2px;
  top:9px;
  width:90px;
  word-wrap:break-word;
}
#u1651_img {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:35px;
}
#u1651 {
  position:absolute;
  left:492px;
  top:220px;
  width:94px;
  height:35px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:15px;
  color:#000000;
  text-align:left;
}
#u1652 {
  position:absolute;
  left:2px;
  top:9px;
  width:90px;
  word-wrap:break-word;
}
#u1653_img {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:35px;
}
#u1653 {
  position:absolute;
  left:57px;
  top:267px;
  width:94px;
  height:35px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:15px;
  color:#000000;
  text-align:left;
}
#u1654 {
  position:absolute;
  left:2px;
  top:9px;
  width:90px;
  word-wrap:break-word;
}
#u1655_img {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:35px;
}
#u1655 {
  position:absolute;
  left:291px;
  top:265px;
  width:94px;
  height:35px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:15px;
  color:#000000;
  text-align:left;
}
#u1656 {
  position:absolute;
  left:2px;
  top:9px;
  width:90px;
  word-wrap:break-word;
}
#u1657_img {
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  height:35px;
}
#u1657 {
  position:absolute;
  left:22px;
  top:130px;
  width:139px;
  height:35px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#000000;
  text-align:left;
}
#u1658 {
  position:absolute;
  left:2px;
  top:6px;
  width:135px;
  word-wrap:break-word;
}
#u1659_img {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:35px;
}
#u1659 {
  position:absolute;
  left:57px;
  top:312px;
  width:94px;
  height:35px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:15px;
  color:#000000;
  text-align:left;
}
#u1660 {
  position:absolute;
  left:2px;
  top:9px;
  width:90px;
  word-wrap:break-word;
}
#u1661_img {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:35px;
}
#u1661 {
  position:absolute;
  left:291px;
  top:312px;
  width:94px;
  height:35px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:15px;
  color:#000000;
  text-align:left;
}
#u1662 {
  position:absolute;
  left:2px;
  top:9px;
  width:90px;
  word-wrap:break-word;
}
#u1663_img {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:35px;
}
#u1663 {
  position:absolute;
  left:57px;
  top:357px;
  width:94px;
  height:35px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:15px;
  color:#000000;
  text-align:left;
}
#u1664 {
  position:absolute;
  left:2px;
  top:9px;
  width:90px;
  word-wrap:break-word;
}
#u1665_img {
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:199px;
}
#u1665 {
  position:absolute;
  left:152px;
  top:402px;
  width:321px;
  height:199px;
}
#u1666 {
  position:absolute;
  left:2px;
  top:92px;
  width:317px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1667_div {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:40px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u1667 {
  position:absolute;
  left:57px;
  top:852px;
  width:126px;
  height:40px;
  font-size:20px;
}
#u1668 {
  position:absolute;
  left:2px;
  top:8px;
  width:122px;
  word-wrap:break-word;
}
#u1669_img {
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  height:35px;
}
#u1669 {
  position:absolute;
  left:57px;
  top:730px;
  width:139px;
  height:35px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#000000;
  text-align:left;
}
#u1670 {
  position:absolute;
  left:2px;
  top:6px;
  width:135px;
  word-wrap:break-word;
}
#u1671_img {
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  height:35px;
}
#u1671 {
  position:absolute;
  left:57px;
  top:669px;
  width:139px;
  height:35px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#000000;
  text-align:left;
}
#u1672 {
  position:absolute;
  left:2px;
  top:6px;
  width:135px;
  word-wrap:break-word;
}
#u1673 {
  position:absolute;
  left:180px;
  top:672px;
  width:300px;
  height:35px;
}
#u1673_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:35px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u1673_input:disabled {
  color:grayText;
}
#u1674 {
  position:absolute;
  left:180px;
  top:733px;
  width:300px;
  height:73px;
}
#u1674_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:73px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u1674_input:disabled {
  color:grayText;
}
#u1675 {
  position:absolute;
  left:615px;
  top:672px;
  width:300px;
  height:35px;
}
#u1675_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:35px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u1675_input:disabled {
  color:grayText;
}
#u1676 {
  position:absolute;
  left:615px;
  top:733px;
  width:300px;
  height:73px;
}
#u1676_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:73px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u1676_input:disabled {
  color:grayText;
}
#u1677_div {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1677 {
  position:absolute;
  left:507px;
  top:709px;
  width:77px;
  height:44px;
}
#u1678 {
  position:absolute;
  left:2px;
  top:14px;
  width:73px;
  word-wrap:break-word;
}
#u1679_img {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:35px;
}
#u1679 {
  position:absolute;
  left:291px;
  top:220px;
  width:94px;
  height:35px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:15px;
  color:#000000;
  text-align:left;
}
#u1680 {
  position:absolute;
  left:2px;
  top:9px;
  width:90px;
  word-wrap:break-word;
}
#u1681_img {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:35px;
}
#u1681 {
  position:absolute;
  left:673px;
  top:220px;
  width:94px;
  height:35px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:15px;
  color:#000000;
  text-align:left;
}
#u1682 {
  position:absolute;
  left:2px;
  top:9px;
  width:90px;
  word-wrap:break-word;
}
