body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1190px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u312_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1191px;
  height:785px;
}
#u312 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1190px;
  height:784px;
}
#u312_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u313 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u314_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:100px;
}
#u314 {
  border-width:0px;
  position:absolute;
  left:263px;
  top:531px;
  width:100px;
  height:100px;
}
#u314_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u315_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:100px;
}
#u315 {
  border-width:0px;
  position:absolute;
  left:89px;
  top:531px;
  width:100px;
  height:100px;
}
#u315_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u316_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  height:49px;
}
#u316 {
  border-width:0px;
  position:absolute;
  left:68px;
  top:631px;
  width:143px;
  height:49px;
  font-size:15px;
}
#u316_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:139px;
  word-wrap:break-word;
}
#u317_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  height:49px;
}
#u317 {
  border-width:0px;
  position:absolute;
  left:242px;
  top:631px;
  width:143px;
  height:49px;
  font-size:15px;
}
#u317_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:139px;
  word-wrap:break-word;
}
#u318_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
}
#u318 {
  border-width:0px;
  position:absolute;
  left:525px;
  top:733px;
  width:140px;
  height:40px;
  font-size:15px;
  color:#FFFFFF;
}
#u318_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:136px;
  word-wrap:break-word;
}
#u319_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1190px;
  height:51px;
}
#u319 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1190px;
  height:51px;
}
#u319_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u320_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:196px;
  height:40px;
}
#u320 {
  border-width:0px;
  position:absolute;
  left:497px;
  top:6px;
  width:196px;
  height:40px;
  font-size:15px;
  color:#FFFFFF;
}
#u320_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:192px;
  word-wrap:break-word;
}
#u321_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1150px;
  height:537px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  line-height:25px;
}
#u321 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:61px;
  width:1150px;
  height:537px;
  line-height:25px;
}
#u321_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1150px;
  word-wrap:break-word;
}
